source/catalog.jade
extends ./includes/layout.jade

block link
	-var active = 'catalog';
block content
	.container
		block breadcrumb
			-var breadcrumbs_list = [{"url": "/", "title": "produkty.biz"}, {"url": "#", "title": "Молочные продукты"}, {"url": "", "title": "Йогурты"}]
		.wrap-content
			include ./includes/breadcrumbs
			.section
				.section-nav
					.section__title Йогурты
					.section__subtitle 5 предложений
					.btn.btn--md.btn--rounded.btn--blue Разместить рекламу
				.section__content
					.wrap-content__right
						.left-nav
							.left-nav__heading
								.left-nav__title.visible-xs-block.visible-sm-block.visible-md-block.js-menu-hidden Назад
								.left-nav__title.visible-lg-block Указать параметры
							.left-nav__content
								.left-nav-fieldset
									.left-nav__subtitle.font-reg Жирность
									ul.left-nav-list
										-var list_items = [{"title": "1,5 %"}, {"title": "2,5 %"}, {"title": "2,6 %"}, {"title": "3,2 %"}, {"title": "3,6 %"}]
										-var id = "t1_";
										each val, index in list_items
											li.checkbox
												input(type="checkbox", val="", id=id+index)
												label(for=id+index) #{val.title}
								.left-nav-fieldset
									.left-nav__subtitle.font-reg Упаковка
									ul.left-nav-list
										-var list_items = [{"title": "Бутылка стеклянная"}, {"title": "Бутылка пластиковая"}, {"title": "Пакет асептический мягкий "}, {"title": "Пакет асептический твердый"}]
										-var id = "t2_";
										each val, index in list_items
											li.checkbox
												input(type="checkbox", val="", id=id+index)
												label(for=id+index) #{val.title}
								.left-nav-fieldset
									.left-nav__subtitle.font-reg Срок годности
									ul.left-nav-list
										-var list_items = [{"title": "10 суток"}, {"title": "20 суток"}, {"title": "3 месяца"}]
										-var id = "t3_";
										each val, index in list_items
											li.checkbox
												input(type="checkbox", val="", id=id+index)
												label(for=id+index) #{val.title}
								.left-nav-fieldset
									.left-nav__subtitle.font-reg Страна
									ul.left-nav-list
										-var list_items = [{"title": "Россия"}, {"title": "Беларусь"}]
										-var id = "t4_";
										each val, index in list_items
											li.checkbox
												input(type="checkbox", val="", id=id+index)
												label(for=id+index) #{val.title}
								.left-nav-fieldset
									.btn.btn--md.btn--rounded.btn--green Применить

					.wrap-content__left
						mixin cat_item(_src, _title, _list, _seller, _price)
							.catalog-list-full__item
								.catalog-full-item
									.catalog-full-item__col-media
										img(src=_src)
									.catalog-full-item__col-content
										a.catalog-full-item__title(href="#") !{_title}
										.catalog-full-item__info
											each val in _list
												p !{val.text}
										.btn.btn--seller #{_seller}
									.catalog-full-item__col-price
										.catalog-full-item__price #{"от " + _price + " руб."}
										.catalog-full-item__vat за упаковку с НДС
						.catalog-list-full
							.catalog-list-full__heading
								.section__target.pull-left.visible-xs-block.visible-sm-block.visible-md-block
									a.js-menu-collapse(href="#") Указать параметры
								.sort
									.sort__item
										.sort-target.active по цене
									.sort__item
										.sort-target по популярности
							.catalog-list-full__content
								-var list = [{"text": "Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток"}, {"text": "Вес единицы: 290г. Страна производства: Беларусь"}]
								+cat_item("content/catalog/full/img-1.jpg", "Напиток биойогуртный 1,5%", list, "1 продавец", "7 900")
								-var list = [{"text": "Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток"}, {"text": "Вес единицы: 290г. Страна производства: Беларусь"}]
								+cat_item("content/catalog/full/img-2.jpg", "Напиток биойогуртный 1,5%", list, "1 продавец", "7 900")
								-var list = [{"text": "Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток"}, {"text": "Вес единицы: 290г. Страна производства: Беларусь"}]
								+cat_item("content/catalog/full/img-3.jpg", "Напиток биойогуртный 1,5%", list, "1 продавец", "7 900")
								-var list = [{"text": "Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток"}, {"text": "Вес единицы: 290г. Страна производства: Беларусь"}]
								+cat_item("content/catalog/full/img-4.jpg", "Напиток биойогуртный 1,5%", list, "1 продавец", "7 900")
								-var list = [{"text": "Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток"}, {"text": "Вес единицы: 290г. Страна производства: Беларусь"}]
								+cat_item("content/catalog/full/img-5.jpg", "Напиток биойогуртный 1,5%", list, "1 продавец", "7 900")
							.catalog-list-full__footer
								.btn.btn--md.btn--rounded.btn--green еще 10 товаров
								.content-text.content-text--md
									p Йо́гу́рт  — кисломолочный продукт с повышенным содержанием обезжиренных веществ молока, изготовляемый путём сквашивания протосимбиотической смесью чистых культур Lactobacillus bulgaricus (болгарская палочка) и Streptococcus thermophilus (термофильный стрептококк), содержание которых в готовом продукте на конец срока годности составляет не менее 107 КОЕ (колониеобразующие единицы) в 1 г продукта (допускается добавление пищевых добавок, фруктов, овощей и продуктов их переработки)
									p Слово «йогурт» — турецкое (тур. yoğurt), и означает «сгущенный». Скифы и родственные им кочевые народы издавна перевозили молоко в бурдюках на спинах коней и ослов. Из воздуха и шерсти в продукт попадали бактерии, на жаре происходило брожение, а постоянная тряска довершала дело, превращая молоко в густой кислый напиток, который долго не портился и при этом сохранял все полезные свойства.

html/catalog.html
<!DOCTYPE html><!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Produkty</title>
  <link rel="shortcut icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="canonical" href=".html">
  <link rel="stylesheet" href="f/css/jquery.fs.selecter.css">
  <link rel="stylesheet" href="f/css/jquery.fs.scroller.css">
  <link rel="stylesheet" href="f/css/main.css"><!--[if IE 8]><link rel="stylesheet" href="f/css/ie_older.css"><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/css3-mediaqueries.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/html5shiv.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/respond.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/selectivizr-min.js"></script><![endif]-->
</head>
<body>
  <div class="app main-page">
    <div class="app-content">
      <header class="app-header">
        <div class="header-top">
          <div class="container">
            <div class="header-top__inner">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12"><a href="/" class="navbar-brand"><img src="f/i/brand.jpg"></a>
                  <button type="button" class="navbar-top-toggle collapsed"><span class="icon-bar icon-bar--first"></span><span class="icon-bar"></span><span class="icon-bar icon-bar--last"></span></button>
                  <div id="navbar" class="app-header-nav">
                    <div class="visible-xs-block visible-sm-block">
                      <button type="button" class="navbar-toggle collapsed">назад</button>
                    </div>
                    <nav class="main-navbar-container">
                      <ul class="main-navbar">
                        <li><a href="#" class="navbar-target">Товары и услуги</a></li>
                        <li><a href="#" class="navbar-target">Поставщики</a></li>
                        <li><a href="#" class="navbar-target">Новости</a></li>
                        <li><a href="about.html" class="navbar-target">О нас</a></li>
                        <li><a href="contacts.html" class="navbar-target">Контакты</a></li>
                        <li><a href="#" class="navbar-target">Реклама</a></li>
                        <li><a href="login.html" class="navbar-target">Войти</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background-image: url('content/bg-header/frame-1.jpg')" class="app-header-wrap">
          <div class="container">
            <div class="app-header-wrap__inner">
              <div class="container">
                <div class="app-header-wrap__slogan-wrap">
                  <div class="app-header-wrap__slogan">Продукты оптом от лучших производителей одним кликом</div>
                </div>
              </div>
              <form action="" accept-charset="utf8">
                <div class="header-search">
                  <button type="submit" class="header-search__submit btn-search"><i class="icon-search"></i><span>найти</span></button>
                  <div class="header-search__inp">
                    <input type="text" placeholder="Поиск товара по каталогу">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="wrap-content">
          <div class="container">
            <div class="wrap-content">
              <div class="breadcrumb-container">
                <ol class="breadcrumb">
                  <li><a href="/">produkty.biz</a> -
                  </li>
                  <li><a href="#">Молочные продукты</a> -
                  </li>
                  <li>Йогурты
                  </li>
                </ol>
              </div>
              <div class="section">
                <div class="section-nav">
                  <div class="section__title">Йогурты</div>
                  <div class="section__subtitle">5 предложений</div>
                  <div class="btn btn--md btn--rounded btn--blue">Разместить рекламу</div>
                </div>
                <div class="section__content">
                  <div class="wrap-content__right">
                    <div class="left-nav">
                      <div class="left-nav__heading">
                        <div class="left-nav__title visible-xs-block visible-sm-block visible-md-block js-menu-hidden">Назад</div>
                        <div class="left-nav__title visible-lg-block">Указать параметры</div>
                      </div>
                      <div class="left-nav__content">
                        <div class="left-nav-fieldset">
                          <div class="left-nav__subtitle font-reg">Жирность</div>
                          <ul class="left-nav-list">
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t1_0">
                              <label for="t1_0">1,5 %</label>
                            </li>
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t1_1">
                              <label for="t1_1">2,5 %</label>
                            </li>
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t1_2">
                              <label for="t1_2">2,6 %</label>
                            </li>
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t1_3">
                              <label for="t1_3">3,2 %</label>
                            </li>
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t1_4">
                              <label for="t1_4">3,6 %</label>
                            </li>
                          </ul>
                        </div>
                        <div class="left-nav-fieldset">
                          <div class="left-nav__subtitle font-reg">Упаковка</div>
                          <ul class="left-nav-list">
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t2_0">
                              <label for="t2_0">Бутылка стеклянная</label>
                            </li>
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t2_1">
                              <label for="t2_1">Бутылка пластиковая</label>
                            </li>
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t2_2">
                              <label for="t2_2">Пакет асептический мягкий </label>
                            </li>
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t2_3">
                              <label for="t2_3">Пакет асептический твердый</label>
                            </li>
                          </ul>
                        </div>
                        <div class="left-nav-fieldset">
                          <div class="left-nav__subtitle font-reg">Срок годности</div>
                          <ul class="left-nav-list">
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t3_0">
                              <label for="t3_0">10 суток</label>
                            </li>
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t3_1">
                              <label for="t3_1">20 суток</label>
                            </li>
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t3_2">
                              <label for="t3_2">3 месяца</label>
                            </li>
                          </ul>
                        </div>
                        <div class="left-nav-fieldset">
                          <div class="left-nav__subtitle font-reg">Страна</div>
                          <ul class="left-nav-list">
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t4_0">
                              <label for="t4_0">Россия</label>
                            </li>
                            <li class="checkbox">
                              <input type="checkbox" val="" id="t4_1">
                              <label for="t4_1">Беларусь</label>
                            </li>
                          </ul>
                        </div>
                        <div class="left-nav-fieldset">
                          <div class="btn btn--md btn--rounded btn--green">Применить</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wrap-content__left">
                    <div class="catalog-list-full">
                      <div class="catalog-list-full__heading">
                        <div class="section__target pull-left visible-xs-block visible-sm-block visible-md-block"><a href="#" class="js-menu-collapse">Указать параметры</a></div>
                        <div class="sort">
                          <div class="sort__item">
                            <div class="sort-target active">по цене</div>
                          </div>
                          <div class="sort__item">
                            <div class="sort-target">по популярности</div>
                          </div>
                        </div>
                      </div>
                      <div class="catalog-list-full__content">
                                            <div class="catalog-list-full__item">
                                              <div class="catalog-full-item">
                                                <div class="catalog-full-item__col-media"><img src="content/catalog/full/img-1.jpg"></div>
                                                <div class="catalog-full-item__col-content"><a href="#" class="catalog-full-item__title">Напиток биойогуртный 1,5%</a>
                                                  <div class="catalog-full-item__info">
                                                    <p>Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток</p>
                                                    <p>Вес единицы: 290г. Страна производства: Беларусь</p>
                                                  </div>
                                                  <div class="btn btn--seller">1 продавец</div>
                                                </div>
                                                <div class="catalog-full-item__col-price">
                                                  <div class="catalog-full-item__price">от 7 900 руб.</div>
                                                  <div class="catalog-full-item__vat">за упаковку с НДС</div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="catalog-list-full__item">
                                              <div class="catalog-full-item">
                                                <div class="catalog-full-item__col-media"><img src="content/catalog/full/img-2.jpg"></div>
                                                <div class="catalog-full-item__col-content"><a href="#" class="catalog-full-item__title">Напиток биойогуртный 1,5%</a>
                                                  <div class="catalog-full-item__info">
                                                    <p>Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток</p>
                                                    <p>Вес единицы: 290г. Страна производства: Беларусь</p>
                                                  </div>
                                                  <div class="btn btn--seller">1 продавец</div>
                                                </div>
                                                <div class="catalog-full-item__col-price">
                                                  <div class="catalog-full-item__price">от 7 900 руб.</div>
                                                  <div class="catalog-full-item__vat">за упаковку с НДС</div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="catalog-list-full__item">
                                              <div class="catalog-full-item">
                                                <div class="catalog-full-item__col-media"><img src="content/catalog/full/img-3.jpg"></div>
                                                <div class="catalog-full-item__col-content"><a href="#" class="catalog-full-item__title">Напиток биойогуртный 1,5%</a>
                                                  <div class="catalog-full-item__info">
                                                    <p>Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток</p>
                                                    <p>Вес единицы: 290г. Страна производства: Беларусь</p>
                                                  </div>
                                                  <div class="btn btn--seller">1 продавец</div>
                                                </div>
                                                <div class="catalog-full-item__col-price">
                                                  <div class="catalog-full-item__price">от 7 900 руб.</div>
                                                  <div class="catalog-full-item__vat">за упаковку с НДС</div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="catalog-list-full__item">
                                              <div class="catalog-full-item">
                                                <div class="catalog-full-item__col-media"><img src="content/catalog/full/img-4.jpg"></div>
                                                <div class="catalog-full-item__col-content"><a href="#" class="catalog-full-item__title">Напиток биойогуртный 1,5%</a>
                                                  <div class="catalog-full-item__info">
                                                    <p>Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток</p>
                                                    <p>Вес единицы: 290г. Страна производства: Беларусь</p>
                                                  </div>
                                                  <div class="btn btn--seller">1 продавец</div>
                                                </div>
                                                <div class="catalog-full-item__col-price">
                                                  <div class="catalog-full-item__price">от 7 900 руб.</div>
                                                  <div class="catalog-full-item__vat">за упаковку с НДС</div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="catalog-list-full__item">
                                              <div class="catalog-full-item">
                                                <div class="catalog-full-item__col-media"><img src="content/catalog/full/img-5.jpg"></div>
                                                <div class="catalog-full-item__col-content"><a href="#" class="catalog-full-item__title">Напиток биойогуртный 1,5%</a>
                                                  <div class="catalog-full-item__info">
                                                    <p>Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток</p>
                                                    <p>Вес единицы: 290г. Страна производства: Беларусь</p>
                                                  </div>
                                                  <div class="btn btn--seller">1 продавец</div>
                                                </div>
                                                <div class="catalog-full-item__col-price">
                                                  <div class="catalog-full-item__price">от 7 900 руб.</div>
                                                  <div class="catalog-full-item__vat">за упаковку с НДС</div>
                                                </div>
                                              </div>
                                            </div>
                      </div>
                      <div class="catalog-list-full__footer">
                        <div class="btn btn--md btn--rounded btn--green">еще 10 товаров</div>
                        <div class="content-text content-text--md">
                          <p>Йо́гу́рт  — кисломолочный продукт с повышенным содержанием обезжиренных веществ молока, изготовляемый путём сквашивания протосимбиотической смесью чистых культур Lactobacillus bulgaricus (болгарская палочка) и Streptococcus thermophilus (термофильный стрептококк), содержание которых в готовом продукте на конец срока годности составляет не менее 107 КОЕ (колониеобразующие единицы) в 1 г продукта (допускается добавление пищевых добавок, фруктов, овощей и продуктов их переработки)</p>
                          <p>Слово «йогурт» — турецкое (тур. yoğurt), и означает «сгущенный». Скифы и родственные им кочевые народы издавна перевозили молоко в бурдюках на спинах коней и ослов. Из воздуха и шерсти в продукт попадали бактерии, на жаре происходило брожение, а постоянная тряска довершала дело, превращая молоко в густой кислый напиток, который долго не портился и при этом сохранял все полезные свойства.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="app-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="copyright footer-text">© produkty.biz, 2008–2016<br />Республика Беларусь</div><a href="#" class="footer-link">Контактная информация</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <ul class="footer-navbar">
                  <li class="footer-navbar__item"><a href="#">Разместить рекламу </a></li>
                  <li class="footer-navbar__item"><a href="#">Наши рекламодатели </a></li>
                  <li class="footer-navbar__item"><a href="#">Тендер </a></li>
                  <li class="footer-navbar__item"><a href="#">О&nbsp;нас </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="#" class="btn btn--red-transparent btn--sm btn--rounded">вход для рекламодателей</a>
                <div class="analitics footer-text">2 995 посещений вчера <br />по&nbsp;независимым данным Google Analytics</div><a href="mailto:reklama@produkty.biz" class="footer-link">reklama@produkty.biz</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="/" class="footer-brand"><img src="f/i/brand.jpg"></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--include modal-->
  <script src="f/js/jquery.min.js"></script>
  <script src="f/js/vendor.js"></script>
  <script src="f/js/jquery.fancybox.pack.js"></script>
  <script src="f/js/main.js"></script>
  <!--script(src='f/js/validate.js')-->
  <!--block scripts-->
  <!--include analitics-->
</body>
