source/company.jade
extends ./includes/layout.jade

block link
	-var active = 'lk';
block content
	.container
		.section
			.section__content
				.wrap-content__left
					.personal
						.personal-nav
							.row.no-margin
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item
									a.personal-nav-target(href="user.html") Личные данные
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item.active
									a.personal-nav-target(href="#") Компания
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item
									a.personal-nav-target(href="faq.html") Техподдержка
						.personal-content
							.personal-info.js-company-add
								.personal-info__title Добро пожаловать во вкладку Компания!
								.personal-info__text На этой странице будут отображаться сведения о вашей компании. Вы также сможете отправлять заявки, используя контактные данные компании.
								.btn.btn--green.btn--xmd.btn--rounded.js-company-add-trigger Добавить компанию

							.js-company-fields(style="display: none;")
								.form-fieldset
									form.form-horizontal(autocomplete="off", action="")
										.row
											.col-xs-12.col-sm-4.col-md-3
												.control-label Данные компании
											.col-xs-12.col-sm-8.col-md-6
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="opf", placeholder="ОПФ (ООО, ИП, УП) *", type="text", name="opf", maxlength="100", tabindex="1", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="organization_name", placeholder="Название организации *", type="text", name="organization_name", maxlength="100", tabindex="2", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="activity", placeholder="Сфера деятельности", type="text", name="activity", maxlength="100", tabindex="2", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="unp", placeholder="УНП *", type="text", name="unp", maxlength="100", tabindex="2", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="city", placeholder="Город", type="text", name="city", maxlength="100", tabindex="2", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="number", placeholder="Индекс", type="text", name="number", maxlength="100", tabindex="2", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="address", placeholder="Адрес", type="text", name="address", maxlength="20", tabindex="3", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="email", placeholder="Почта", type="text", name="email", maxlength="20", tabindex="3", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="fax", placeholder="Факс", type="text", name="fax", maxlength="20", tabindex="3", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="phone", placeholder="Телефон", type="text", name="phone", maxlength="20", tabindex="4", value="")
													.col-xs-12.col-sm-4.col-md-4.clone-this-wrapper
														a.btn.btn--blue.btn--xlg(href="#") Добавить телефон
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														.btn-group-inline
															a.btn.btn--green.btn--lg.btn--rounded(href="#") Сохранить
														.btn-group-inline
															a.btn.btn--green-transparent.btn--lg.btn--rounded(href="#") Отменить
								.form-fieldset
									.row
										.col-xs-12.col-sm-12.col-md-12
											a.btn.btn--default-transparent.btn--xmd.btn--rounded(href="#") Удаление учетной записи

html/company.html
<!DOCTYPE html><!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Produkty</title>
  <link rel="shortcut icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="canonical" href=".html">
  <link rel="stylesheet" href="f/css/jquery.fs.selecter.css">
  <link rel="stylesheet" href="f/css/jquery.fs.scroller.css">
  <link rel="stylesheet" href="f/css/main.css"><!--[if IE 8]><link rel="stylesheet" href="f/css/ie_older.css"><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/css3-mediaqueries.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/html5shiv.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/respond.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/selectivizr-min.js"></script><![endif]-->
</head>
<body>
  <div class="app main-page">
    <div class="app-content">
      <header class="app-header">
        <div class="header-top">
          <div class="container">
            <div class="header-top__inner">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12"><a href="/" class="navbar-brand"><img src="f/i/brand.jpg"></a>
                  <button type="button" class="navbar-top-toggle collapsed"><span class="icon-bar icon-bar--first"></span><span class="icon-bar"></span><span class="icon-bar icon-bar--last"></span></button>
                  <div id="navbar" class="app-header-nav">
                    <div class="visible-xs-block visible-sm-block">
                      <button type="button" class="navbar-toggle collapsed">назад</button>
                    </div>
                    <nav class="main-navbar-container">
                      <ul class="main-navbar">
                        <li><a href="#" class="navbar-target">Товары и услуги</a></li>
                        <li><a href="#" class="navbar-target">Поставщики</a></li>
                        <li><a href="#" class="navbar-target">Новости</a></li>
                        <li><a href="about.html" class="navbar-target">О нас</a></li>
                        <li><a href="contacts.html" class="navbar-target">Контакты</a></li>
                        <li><a href="#" class="navbar-target">Реклама</a></li>
                        <li><a href="user.html" class="navbar-target navbar-target--login"><i class="icon-user"></i>Личный кабинет</a></li>
                        <li><a href="#" class="navbar-target">Выйти</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background-image: url('content/bg-header/frame-1.jpg')" class="app-header-wrap">
          <div class="container">
            <div class="app-header-wrap__inner">
              <div class="container">
                <div class="app-header-wrap__slogan-wrap">
                  <div class="app-header-wrap__slogan">Продукты оптом от лучших производителей одним кликом</div>
                </div>
              </div>
              <form action="" accept-charset="utf8">
                <div class="header-search">
                  <button type="submit" class="header-search__submit btn-search"><i class="icon-search"></i><span>найти</span></button>
                  <div class="header-search__inp">
                    <input type="text" placeholder="Поиск товара по каталогу">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="wrap-content">
          <div class="container">
            <div class="section">
              <div class="section__content">
                <div class="wrap-content__left">
                  <div class="personal">
                    <div class="personal-nav">
                      <div class="row no-margin">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 no-padding personal-nav__item"><a href="user.html" class="personal-nav-target">Личные данные</a></div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 no-padding personal-nav__item active"><a href="#" class="personal-nav-target">Компания</a></div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 no-padding personal-nav__item"><a href="faq.html" class="personal-nav-target">Техподдержка</a></div>
                      </div>
                    </div>
                    <div class="personal-content">
                      <div class="personal-info js-company-add">
                        <div class="personal-info__title">Добро пожаловать во вкладку Компания!</div>
                        <div class="personal-info__text">На этой странице будут отображаться сведения о вашей компании. Вы также сможете отправлять заявки, используя контактные данные компании.</div>
                        <div class="btn btn--green btn--xmd btn--rounded js-company-add-trigger">Добавить компанию</div>
                      </div>
                      <div style="display: none;" class="js-company-fields">
                        <div class="form-fieldset">
                          <form autocomplete="off" action="" class="form-horizontal">
                            <div class="row">
                              <div class="col-xs-12 col-sm-4 col-md-3">
                                <div class="control-label">Данные компании</div>
                              </div>
                              <div class="col-xs-12 col-sm-8 col-md-6">
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="opf" placeholder="ОПФ (ООО, ИП, УП) *" type="text" name="opf" maxlength="100" tabindex="1" value="" class="form-control js-require">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="organization_name" placeholder="Название организации *" type="text" name="organization_name" maxlength="100" tabindex="2" value="" class="form-control js-require">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="activity" placeholder="Сфера деятельности" type="text" name="activity" maxlength="100" tabindex="2" value="" class="form-control js-require">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="unp" placeholder="УНП *" type="text" name="unp" maxlength="100" tabindex="2" value="" class="form-control js-require">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="city" placeholder="Город" type="text" name="city" maxlength="100" tabindex="2" value="" class="form-control js-require">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="number" placeholder="Индекс" type="text" name="number" maxlength="100" tabindex="2" value="" class="form-control js-require">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="address" placeholder="Адрес" type="text" name="address" maxlength="20" tabindex="3" value="" class="form-control js-require">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="email" placeholder="Почта" type="text" name="email" maxlength="20" tabindex="3" value="" class="form-control js-require">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="fax" placeholder="Факс" type="text" name="fax" maxlength="20" tabindex="3" value="" class="form-control js-require">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="phone" placeholder="Телефон" type="text" name="phone" maxlength="20" tabindex="4" value="" class="form-control js-require">
                                  </div>
                                  <div class="col-xs-12 col-sm-4 col-md-4 clone-this-wrapper"><a href="#" class="btn btn--blue btn--xlg">Добавить телефон</a></div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <div class="btn-group-inline"><a href="#" class="btn btn--green btn--lg btn--rounded">Сохранить</a></div>
                                    <div class="btn-group-inline"><a href="#" class="btn btn--green-transparent btn--lg btn--rounded">Отменить</a></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="form-fieldset">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12"><a href="#" class="btn btn--default-transparent btn--xmd btn--rounded">Удаление учетной записи</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="app-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="copyright footer-text">© produkty.biz, 2008–2016<br />Республика Беларусь</div><a href="#" class="footer-link">Контактная информация</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <ul class="footer-navbar">
                  <li class="footer-navbar__item"><a href="#">Разместить рекламу </a></li>
                  <li class="footer-navbar__item"><a href="#">Наши рекламодатели </a></li>
                  <li class="footer-navbar__item"><a href="#">Тендер </a></li>
                  <li class="footer-navbar__item"><a href="#">О&nbsp;нас </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="#" class="btn btn--red-transparent btn--sm btn--rounded">вход для рекламодателей</a>
                <div class="analitics footer-text">2 995 посещений вчера <br />по&nbsp;независимым данным Google Analytics</div><a href="mailto:reklama@produkty.biz" class="footer-link">reklama@produkty.biz</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="/" class="footer-brand"><img src="f/i/brand.jpg"></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--include modal-->
  <script src="f/js/jquery.min.js"></script>
  <script src="f/js/vendor.js"></script>
  <script src="f/js/jquery.fancybox.pack.js"></script>
  <script src="f/js/main.js"></script>
  <!--script(src='f/js/validate.js')-->
  <!--block scripts-->
  <!--include analitics-->
</body>
