html/conference.html
<!DOCTYPE html><!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Produkty</title>
  <link rel="shortcut icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="canonical" href=".html">
  <link rel="stylesheet" href="f/css/jquery.fs.selecter.css">
  <link rel="stylesheet" href="f/css/jquery.fs.scroller.css">
  <link rel="stylesheet" href="f/css/main.css"><!--[if IE 8]><link rel="stylesheet" href="f/css/ie_older.css"><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/css3-mediaqueries.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/html5shiv.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/respond.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/selectivizr-min.js"></script><![endif]-->
</head>
<body>
  <div class="app main-page">
    <div class="app-content">
      <header class="app-header">
        <div class="header-top">
          <div class="container">
            <div class="header-top__inner">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12"><a href="/" class="navbar-brand"><img src="f/i/brand.jpg"></a>
                  <button type="button" class="navbar-top-toggle collapsed"><span class="icon-bar icon-bar--first"></span><span class="icon-bar"></span><span class="icon-bar icon-bar--last"></span></button>
                  <div id="navbar" class="app-header-nav">
                    <div class="visible-xs-block visible-sm-block">
                      <button type="button" class="navbar-toggle collapsed">назад</button>
                    </div>
                    <nav class="main-navbar-container">
                      <ul class="main-navbar">
                        <li><a href="#" class="navbar-target">Товары и услуги</a></li>
                        <li><a href="#" class="navbar-target">Поставщики</a></li>
                        <li><a href="#" class="navbar-target">Новости</a></li>
                        <li><a href="about.html" class="navbar-target">О нас</a></li>
                        <li><a href="contacts.html" class="navbar-target">Контакты</a></li>
                        <li><a href="#" class="navbar-target">Реклама</a></li>
                        <li><a href="login.html" class="navbar-target">Войти</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background-image: url('content/bg-header/frame-1.jpg')" class="app-header-wrap">
          <div class="container">
            <div class="app-header-wrap__inner">
              <div class="container">
                <div class="app-header-wrap__slogan-wrap">
                  <div class="app-header-wrap__slogan">Продукты оптом от лучших производителей одним кликом</div>
                </div>
              </div>
              <form action="" accept-charset="utf8">
                <div class="header-search">
                  <button type="submit" class="header-search__submit btn-search"><i class="icon-search"></i><span>найти</span></button>
                  <div class="header-search__inp">
                    <input type="text" placeholder="Поиск товара по каталогу">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="wrap-content">
          <div class="container">
            <div class="wrap-content">
              <div class="breadcrumb-container">
                <ol class="breadcrumb">
                  <li><a href="/">produkty.biz</a> -
                  </li>
                  <li>Новости
                  </li>
                </ol>
              </div>
              <div class="wrap-content__right wrap-content__right--offset">
                <div class="left-nav">
                  <div class="left-nav__heading">
                    <div class="left-nav__title visible-xs-block visible-sm-block visible-md-block js-menu-hidden">Назад</div><a href="#" class="left-nav__title visible-lg-inline-block">Все новости</a>
                  </div>
                  <div class="left-nav__content">
                    <ul class="left-nav-list">
                      <li><a href="news.html" title="Актуально" class="left-nav-list__link">Актуально</a></li>
                      <li><a href="business.html" title="Бизнес" class="left-nav-list__link">Бизнес</a></li>
                      <li><a href="exhibition.html" title="Выставки" class="left-nav-list__link">Выставки</a></li>
                      <li><a href="crop.html" title="Ратсениеводство" class="left-nav-list__link">Ратсениеводство</a></li>
                      <li><a href="animal.html" title="Животноводство" class="left-nav-list__link">Животноводство</a></li>
                      <li><a href="review.html" title="Обзоры" class="left-nav-list__link">Обзоры</a></li>
                      <li><a href="advice.html" title="Советы" class="left-nav-list__link">Советы</a></li>
                      <li><a href="technology.html" title="Технологии" class="left-nav-list__link">Технологии</a></li>
                      <li class="active"><span class="left-nav-list__link">Конференции</span></li>
                      <li><a href="officially.html" title="Официально" class="left-nav-list__link">Официально</a></li>
                      <li><a href="legislation.html" title="Законодательство" class="left-nav-list__link">Законодательство</a></li>
                      <li><a href="incidents.html" title="Происшествия" class="left-nav-list__link">Происшествия</a></li>
                    </ul>
                  </div>
                  <div class="left-nav__footer"><a href="#" class="left-nav__subtitle">Новости компании</a></div>
                </div>
              </div>
              <div class="wrap-content__left">
                <div class="static-page">
                  <div class="section">
                    <div class="section__title">Выиграй автомобиль, посетив строительную выставку &laquo;Белорусский дом. Весна-2016&raquo;</div>
                    <div class="section__subtitle">
                      <div class="news-tags"><a href="#">конференции</a></div>
                      <div class="news-date">23 февраля 2016 в 13:14</div>
                    </div>
                    <div class="section__content">
                      <div class="content-text">
                        <p><b>Белорусский строительный сезон 2016-го года открывает 44-я выставочная неделя строительной индустрии, архитектуры, дизайна и отделочных материалов, которая пройдет со 2 по 4 марта в минском Дворце спорта. В рамках этого комплекса мероприятий состоятся тематические выставки «Белорусский дом. Весна» и «Евроремонт», а также архитектурно-строительный форум БЕЛБИЛД эволюция.</b></p>
                        <p>Экспоненты выставок — производители строительных и отделочных материалов, застройщики и девелоперы, подрядчики, производители и поставщики продукции для строительства и дизайна.</p>
                        <p>В программу выставочных мероприятий  входят разнообразные образовательные семинары и мастер-классы, акции и розыгрыши призов.</p>
                        <p>Посетив выставки, гости и участники получат возможность узнать подробности розыгрыша автомобиля от компании «Чистый берег». Акция официально стартует с 1 марта и продлится до 15 декабря 2016 года. Ценный приз будет продемонстрирован в выставочном павильоне.</p>
                        <div class="img-center"><img src="content/news/news-content.jpg" alt=""></div>
                        <p><b>Дополнительная информация:</b></p>
                        <p>На протяжении уже 44 лет выставки и форумы, организованные ООО «ЭкспоСистемс», помогают белорусским и зарубежным компаниям находить надежных партнеров, развивать перспективные технологии, увеличивать продажи.</p>
                        <p>Ждем Вас в минском Дворце спорта (пр. Победителей, 4) со 2 по 4 марта 2016 года. Время проведения: 2 и 3 марта с 10.00 до 19.00, 4 марта с 10.00 до 16.00.</p>
                        <p>Убеждены, что вы по достоинству оцените новый формат мероприятия, разработанный специалистами компании «ЭкспоСистемс».</p>
                        <p>С более подробной информацией можно ознакомиться здесь: <a class="link" href="http://belarusdom.by">belarusdom.by</a></p>
                        <p>Это интересно! Присоединяйтесь к нам в соцсетях:</p>
                        <p>Facebook: <a class="link" href="https://www.facebook.com/events/202400720096777/">https://www.facebook.com/events/202400720096777/</a></p>
                        <p>Вконтакте: <a class="link" href="https://vk.com/event100425635">https://vk.com/event100425635</a></p>
                        <p>Подробная информации по тел. в Минске: +375 17 237-20-50, +375 29 625-71-25</p>
                        <p>e-mail: <a class="link" href="mailto:info@exposystems.by">info@exposystems.by</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="app-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="copyright footer-text">© produkty.biz, 2008–2016<br />Республика Беларусь</div><a href="#" class="footer-link">Контактная информация</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <ul class="footer-navbar">
                  <li class="footer-navbar__item"><a href="#">Разместить рекламу </a></li>
                  <li class="footer-navbar__item"><a href="#">Наши рекламодатели </a></li>
                  <li class="footer-navbar__item"><a href="#">Тендер </a></li>
                  <li class="footer-navbar__item"><a href="#">О&nbsp;нас </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="#" class="btn btn--red-transparent btn--sm btn--rounded">вход для рекламодателей</a>
                <div class="analitics footer-text">2 995 посещений вчера <br />по&nbsp;независимым данным Google Analytics</div><a href="mailto:reklama@produkty.biz" class="footer-link">reklama@produkty.biz</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="/" class="footer-brand"><img src="f/i/brand.jpg"></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--include modal-->
  <script src="f/js/jquery.min.js"></script>
  <script src="f/js/vendor.js"></script>
  <script src="f/js/jquery.fancybox.pack.js"></script>
  <script src="f/js/main.js"></script>
  <!--script(src='f/js/validate.js')-->
  <!--block scripts-->
  <!--include analitics-->
</body>

source/conference.jade
extends ./includes/layout.jade

block link
	-var active = 'conference';
block content
	.container
		block breadcrumb
			-var breadcrumbs_list = [{"url": "/", "title": "produkty.biz"}, {"url": "", "title": "Новости"}]
		.wrap-content
			include ./includes/breadcrumbs
			include ./includes/right-menu-content
			.wrap-content__left
				.static-page
					.section
						.section__title Выиграй автомобиль, посетив строительную выставку &laquo;Белорусский дом. Весна-2016&raquo;
						.section__subtitle
							.news-tags
								a(href="#") конференции
							.news-date 23 февраля 2016 в 13:14
						.section__content
							.content-text
								p
									b Белорусский строительный сезон 2016-го года открывает 44-я выставочная неделя строительной индустрии, архитектуры, дизайна и отделочных материалов, которая пройдет со 2 по 4 марта в минском Дворце спорта. В рамках этого комплекса мероприятий состоятся тематические выставки «Белорусский дом. Весна» и «Евроремонт», а также архитектурно-строительный форум БЕЛБИЛД эволюция.
								p Экспоненты выставок — производители строительных и отделочных материалов, застройщики и девелоперы, подрядчики, производители и поставщики продукции для строительства и дизайна.
								p В программу выставочных мероприятий  входят разнообразные образовательные семинары и мастер-классы, акции и розыгрыши призов.
								p Посетив выставки, гости и участники получат возможность узнать подробности розыгрыша автомобиля от компании «Чистый берег». Акция официально стартует с 1 марта и продлится до 15 декабря 2016 года. Ценный приз будет продемонстрирован в выставочном павильоне.
								.img-center
									img(src="content/news/news-content.jpg", alt="")
								p
									b Дополнительная информация:
								p На протяжении уже 44 лет выставки и форумы, организованные ООО «ЭкспоСистемс», помогают белорусским и зарубежным компаниям находить надежных партнеров, развивать перспективные технологии, увеличивать продажи.
								p Ждем Вас в минском Дворце спорта (пр. Победителей, 4) со 2 по 4 марта 2016 года. Время проведения: 2 и 3 марта с 10.00 до 19.00, 4 марта с 10.00 до 16.00.
								p Убеждены, что вы по достоинству оцените новый формат мероприятия, разработанный специалистами компании «ЭкспоСистемс».
								p С более подробной информацией можно ознакомиться здесь: <a class="link" href="http://belarusdom.by">belarusdom.by</a>
								p Это интересно! Присоединяйтесь к нам в соцсетях:
								p Facebook: <a class="link" href="https://www.facebook.com/events/202400720096777/">https://www.facebook.com/events/202400720096777/</a>
								p Вконтакте: <a class="link" href="https://vk.com/event100425635">https://vk.com/event100425635</a>
								p Подробная информации по тел. в Минске: +375 17 237-20-50, +375 29 625-71-25
								p e-mail: <a class="link" href="mailto:info@exposystems.by">info@exposystems.by</a>
