source/contacts.jade
extends ./includes/layout.jade

block link
	-var active = 'contacts';
block content
	.container
		block breadcrumb
			-var breadcrumbs_list = [{"url": "/", "title": "produkty.biz"}, {"url": "", "title": "Контакты"}]
		.wrap-content
			include ./includes/breadcrumbs
			.wrap-content__left
				.static-page
					.section
						.section__title Контакты
						.section__content
							.content-text
								.form-fieldset
									.row
										.col-xs-12.col-sm-3.col-md-2
											.control-label.control-label--top Телефоны:
										.col-xs-12.col-sm-9.col-md-10
											p в Москве: +7 (495) 369-99-99 <br />в Минске: +375 (29) 155-66-66
								.form-fieldset
									.row
										.col-xs-12.col-sm-3.col-md-2
											.control-label.control-label--top skype:
										.col-xs-12.col-sm-9.col-md-10
											p produkty.pro
								.form-fieldset
									.row
										.col-xs-12.col-sm-3.col-md-2
											.control-label.control-label--top e-mail:
										.col-xs-12.col-sm-9.col-md-10
											p produkty.pro@mail.ru
								.form-fieldset
									.row
										.col-xs-12.col-sm-3.col-md-2
											.control-label.control-label--top Складской терминал:
										.col-xs-12.col-sm-9.col-md-10
											p РФ, г. Наро-Фоминск, Московская 15, Киевское шоссе
								.form-fieldset
									.row
										.col-xs-12.col-sm-12.col-md-12
											.control-label.control-label--top Наш офис в Москве:
										.col-xs-12.col-sm-12.col-md-12
											p Место для карты

html/contacts.html
<!DOCTYPE html><!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Produkty</title>
  <link rel="shortcut icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="canonical" href=".html">
  <link rel="stylesheet" href="f/css/jquery.fs.selecter.css">
  <link rel="stylesheet" href="f/css/jquery.fs.scroller.css">
  <link rel="stylesheet" href="f/css/main.css"><!--[if IE 8]><link rel="stylesheet" href="f/css/ie_older.css"><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/css3-mediaqueries.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/html5shiv.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/respond.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/selectivizr-min.js"></script><![endif]-->
</head>
<body>
  <div class="app main-page">
    <div class="app-content">
      <header class="app-header">
        <div class="header-top">
          <div class="container">
            <div class="header-top__inner">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12"><a href="/" class="navbar-brand"><img src="f/i/brand.jpg"></a>
                  <button type="button" class="navbar-top-toggle collapsed"><span class="icon-bar icon-bar--first"></span><span class="icon-bar"></span><span class="icon-bar icon-bar--last"></span></button>
                  <div id="navbar" class="app-header-nav">
                    <div class="visible-xs-block visible-sm-block">
                      <button type="button" class="navbar-toggle collapsed">назад</button>
                    </div>
                    <nav class="main-navbar-container">
                      <ul class="main-navbar">
                        <li><a href="#" class="navbar-target">Товары и услуги</a></li>
                        <li><a href="#" class="navbar-target">Поставщики</a></li>
                        <li><a href="#" class="navbar-target">Новости</a></li>
                        <li><a href="about.html" class="navbar-target">О нас</a></li>
                        <li><a href="contacts.html" class="navbar-target">Контакты</a></li>
                        <li><a href="#" class="navbar-target">Реклама</a></li>
                        <li><a href="login.html" class="navbar-target">Войти</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background-image: url('content/bg-header/frame-1.jpg')" class="app-header-wrap">
          <div class="container">
            <div class="app-header-wrap__inner">
              <div class="container">
                <div class="app-header-wrap__slogan-wrap">
                  <div class="app-header-wrap__slogan">Продукты оптом от лучших производителей одним кликом</div>
                </div>
              </div>
              <form action="" accept-charset="utf8">
                <div class="header-search">
                  <button type="submit" class="header-search__submit btn-search"><i class="icon-search"></i><span>найти</span></button>
                  <div class="header-search__inp">
                    <input type="text" placeholder="Поиск товара по каталогу">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="wrap-content">
          <div class="container">
            <div class="wrap-content">
              <div class="breadcrumb-container">
                <ol class="breadcrumb">
                  <li><a href="/">produkty.biz</a> -
                  </li>
                  <li>Контакты
                  </li>
                </ol>
              </div>
              <div class="wrap-content__left">
                <div class="static-page">
                  <div class="section">
                    <div class="section__title">Контакты</div>
                    <div class="section__content">
                      <div class="content-text">
                        <div class="form-fieldset">
                          <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-2">
                              <div class="control-label control-label--top">Телефоны:</div>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-10">
                              <p>в Москве: +7 (495) 369-99-99 <br />в Минске: +375 (29) 155-66-66</p>
                            </div>
                          </div>
                        </div>
                        <div class="form-fieldset">
                          <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-2">
                              <div class="control-label control-label--top">skype:</div>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-10">
                              <p>produkty.pro</p>
                            </div>
                          </div>
                        </div>
                        <div class="form-fieldset">
                          <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-2">
                              <div class="control-label control-label--top">e-mail:</div>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-10">
                              <p>produkty.pro@mail.ru</p>
                            </div>
                          </div>
                        </div>
                        <div class="form-fieldset">
                          <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-2">
                              <div class="control-label control-label--top">Складской терминал:</div>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-10">
                              <p>РФ, г. Наро-Фоминск, Московская 15, Киевское шоссе</p>
                            </div>
                          </div>
                        </div>
                        <div class="form-fieldset">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                              <div class="control-label control-label--top">Наш офис в Москве:</div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                              <p>Место для карты</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="app-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="copyright footer-text">© produkty.biz, 2008–2016<br />Республика Беларусь</div><a href="#" class="footer-link">Контактная информация</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <ul class="footer-navbar">
                  <li class="footer-navbar__item"><a href="#">Разместить рекламу </a></li>
                  <li class="footer-navbar__item"><a href="#">Наши рекламодатели </a></li>
                  <li class="footer-navbar__item"><a href="#">Тендер </a></li>
                  <li class="footer-navbar__item"><a href="#">О&nbsp;нас </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="#" class="btn btn--red-transparent btn--sm btn--rounded">вход для рекламодателей</a>
                <div class="analitics footer-text">2 995 посещений вчера <br />по&nbsp;независимым данным Google Analytics</div><a href="mailto:reklama@produkty.biz" class="footer-link">reklama@produkty.biz</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="/" class="footer-brand"><img src="f/i/brand.jpg"></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--include modal-->
  <script src="f/js/jquery.min.js"></script>
  <script src="f/js/vendor.js"></script>
  <script src="f/js/jquery.fancybox.pack.js"></script>
  <script src="f/js/main.js"></script>
  <!--script(src='f/js/validate.js')-->
  <!--block scripts-->
  <!--include analitics-->
</body>
