source/faq.jade
extends ./includes/layout.jade

block link
	-var active = 'lk';
block content
	.container
		.section
			.section__content
				.wrap-content__left
					.personal
						.personal-nav
							.row.no-margin
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item
									a.personal-nav-target(href="user.html") Личные данные
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item
									a.personal-nav-target(href="company.html") Компания
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item.active
									a.personal-nav-target(href="#") Техподдержка
						.personal-content
							.form-fieldset
								.row
									.col-xs-12.col-sm-4.col-md-3
										.control-label Вопросы и ответы
									.col-xs-12.col-sm-8.col-md-6
										#list-collapse.list-collapse.list-increment
											.panel
												a.list-increment__item.list-collapse-handle.collapsed(data-toggle="collapse", data-parent="#list-collapse", href="#list-collapse-item_1", aria-expanded="true") Сколько стоит отправить заявку с помощью сервиса Тендер?
												#list-collapse-item_1.list-collapse-body.collapse Тендер — это бесплатный сервис для отправки заявок поставщикам строительных материалов и услуг.
											.panel
												a.list-increment__item.list-collapse-handle.collapsed(data-toggle="collapse", data-parent="#list-collapse", href="#list-collapse-item_2", aria-expanded="true") Как быстро отправляется заявка поставщику?
												#list-collapse-item_2.list-collapse-body.collapse При наличии предложений заявка отправляется поставщику в течение часа по будням с 8:30 до 17:30.
											.panel
												a.list-increment__item.list-collapse-handle.collapsed(data-toggle="collapse", data-parent="#list-collapse", href="#list-collapse-item_3", aria-expanded="true") Что делать, если заявка отклонена?
												#list-collapse-item_3.list-collapse-body.collapse Отредактируйте заявку в соответствии с рекомендациями, указанными в комментарии, и отправьте ее снова.
											.panel
												a.list-increment__item.list-collapse-handle.collapsed(data-toggle="collapse", data-parent="#list-collapse", href="#list-collapse-item_4", aria-expanded="true") Почему моя заявка отложена?
												#list-collapse-item_4.list-collapse-body.collapse Если у отправленной заявки появился статус «Отложена», то в данный момент на Stroyka.by нет поставщиков нужного вам товара. Как только товар появится, на электронную почту вам будет выслано соответствующее уведомление, а статус заявки изменится. Если заявка все еще будет актуальной — отправьте ее заново и ждите откликов.
											.panel
												a.list-increment__item.list-collapse-handle.collapsed(data-toggle="collapse", data-parent="#list-collapse", href="#list-collapse-item_5", aria-expanded="true") По какому принципу выбираются поставщики, которым отправляются заявки?
												#list-collapse-item_5.list-collapse-body.collapse Заявки отправляются всем поставщикам, которые рекламируют запрашиваемый товар на портале produkty.biz.
							.form-fieldset
								form.form-horizontal(autocomplete="off", action="")
									.row
										.col-xs-12.col-sm-4.col-md-3
											.control-label Не нашли ответ?
											.control-label-edit Напишите нам
										.col-xs-12.col-sm-8.col-md-8
											.form-group
												.col-xs-12.col-sm-9.col-md-12
													textarea.form-control.js-require(id="comment", placeholder="Ваш вопрос *", type="text", name="comment", tabindex="1", value="", rows="6", cols="15")
											.form-group
												.col-xs-12.col-sm-9.col-md-8
													.btn-group-inline
														a.btn.btn--green.btn--lg.btn--rounded(href="#") Сохранить

html/faq.html
<!DOCTYPE html><!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Produkty</title>
  <link rel="shortcut icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="canonical" href=".html">
  <link rel="stylesheet" href="f/css/jquery.fs.selecter.css">
  <link rel="stylesheet" href="f/css/jquery.fs.scroller.css">
  <link rel="stylesheet" href="f/css/main.css"><!--[if IE 8]><link rel="stylesheet" href="f/css/ie_older.css"><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/css3-mediaqueries.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/html5shiv.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/respond.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/selectivizr-min.js"></script><![endif]-->
</head>
<body>
  <div class="app main-page">
    <div class="app-content">
      <header class="app-header">
        <div class="header-top">
          <div class="container">
            <div class="header-top__inner">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12"><a href="/" class="navbar-brand"><img src="f/i/brand.jpg"></a>
                  <button type="button" class="navbar-top-toggle collapsed"><span class="icon-bar icon-bar--first"></span><span class="icon-bar"></span><span class="icon-bar icon-bar--last"></span></button>
                  <div id="navbar" class="app-header-nav">
                    <div class="visible-xs-block visible-sm-block">
                      <button type="button" class="navbar-toggle collapsed">назад</button>
                    </div>
                    <nav class="main-navbar-container">
                      <ul class="main-navbar">
                        <li><a href="#" class="navbar-target">Товары и услуги</a></li>
                        <li><a href="#" class="navbar-target">Поставщики</a></li>
                        <li><a href="#" class="navbar-target">Новости</a></li>
                        <li><a href="about.html" class="navbar-target">О нас</a></li>
                        <li><a href="contacts.html" class="navbar-target">Контакты</a></li>
                        <li><a href="#" class="navbar-target">Реклама</a></li>
                        <li><a href="user.html" class="navbar-target navbar-target--login"><i class="icon-user"></i>Личный кабинет</a></li>
                        <li><a href="#" class="navbar-target">Выйти</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background-image: url('content/bg-header/frame-1.jpg')" class="app-header-wrap">
          <div class="container">
            <div class="app-header-wrap__inner">
              <div class="container">
                <div class="app-header-wrap__slogan-wrap">
                  <div class="app-header-wrap__slogan">Продукты оптом от лучших производителей одним кликом</div>
                </div>
              </div>
              <form action="" accept-charset="utf8">
                <div class="header-search">
                  <button type="submit" class="header-search__submit btn-search"><i class="icon-search"></i><span>найти</span></button>
                  <div class="header-search__inp">
                    <input type="text" placeholder="Поиск товара по каталогу">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="wrap-content">
          <div class="container">
            <div class="section">
              <div class="section__content">
                <div class="wrap-content__left">
                  <div class="personal">
                    <div class="personal-nav">
                      <div class="row no-margin">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 no-padding personal-nav__item"><a href="user.html" class="personal-nav-target">Личные данные</a></div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 no-padding personal-nav__item"><a href="company.html" class="personal-nav-target">Компания</a></div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 no-padding personal-nav__item active"><a href="#" class="personal-nav-target">Техподдержка</a></div>
                      </div>
                    </div>
                    <div class="personal-content">
                      <div class="form-fieldset">
                        <div class="row">
                          <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="control-label">Вопросы и ответы</div>
                          </div>
                          <div class="col-xs-12 col-sm-8 col-md-6">
                            <div id="list-collapse" class="list-collapse list-increment">
                              <div class="panel"><a data-toggle="collapse" data-parent="#list-collapse" href="#list-collapse-item_1" aria-expanded="true" class="list-increment__item list-collapse-handle collapsed">Сколько стоит отправить заявку с помощью сервиса Тендер?</a>
                                <div id="list-collapse-item_1" class="list-collapse-body collapse">Тендер — это бесплатный сервис для отправки заявок поставщикам строительных материалов и услуг.</div>
                              </div>
                              <div class="panel"><a data-toggle="collapse" data-parent="#list-collapse" href="#list-collapse-item_2" aria-expanded="true" class="list-increment__item list-collapse-handle collapsed">Как быстро отправляется заявка поставщику?</a>
                                <div id="list-collapse-item_2" class="list-collapse-body collapse">При наличии предложений заявка отправляется поставщику в течение часа по будням с 8:30 до 17:30.</div>
                              </div>
                              <div class="panel"><a data-toggle="collapse" data-parent="#list-collapse" href="#list-collapse-item_3" aria-expanded="true" class="list-increment__item list-collapse-handle collapsed">Что делать, если заявка отклонена?</a>
                                <div id="list-collapse-item_3" class="list-collapse-body collapse">Отредактируйте заявку в соответствии с рекомендациями, указанными в комментарии, и отправьте ее снова.</div>
                              </div>
                              <div class="panel"><a data-toggle="collapse" data-parent="#list-collapse" href="#list-collapse-item_4" aria-expanded="true" class="list-increment__item list-collapse-handle collapsed">Почему моя заявка отложена?</a>
                                <div id="list-collapse-item_4" class="list-collapse-body collapse">Если у отправленной заявки появился статус «Отложена», то в данный момент на Stroyka.by нет поставщиков нужного вам товара. Как только товар появится, на электронную почту вам будет выслано соответствующее уведомление, а статус заявки изменится. Если заявка все еще будет актуальной — отправьте ее заново и ждите откликов.</div>
                              </div>
                              <div class="panel"><a data-toggle="collapse" data-parent="#list-collapse" href="#list-collapse-item_5" aria-expanded="true" class="list-increment__item list-collapse-handle collapsed">По какому принципу выбираются поставщики, которым отправляются заявки?</a>
                                <div id="list-collapse-item_5" class="list-collapse-body collapse">Заявки отправляются всем поставщикам, которые рекламируют запрашиваемый товар на портале produkty.biz.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-fieldset">
                        <form autocomplete="off" action="" class="form-horizontal">
                          <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3">
                              <div class="control-label">Не нашли ответ?</div>
                              <div class="control-label-edit">Напишите нам</div>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8">
                              <div class="form-group">
                                <div class="col-xs-12 col-sm-9 col-md-12">
                                  <textarea id="comment" placeholder="Ваш вопрос *" type="text" name="comment" tabindex="1" value="" rows="6" cols="15" class="form-control js-require"></textarea>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-xs-12 col-sm-9 col-md-8">
                                  <div class="btn-group-inline"><a href="#" class="btn btn--green btn--lg btn--rounded">Сохранить</a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="app-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="copyright footer-text">© produkty.biz, 2008–2016<br />Республика Беларусь</div><a href="#" class="footer-link">Контактная информация</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <ul class="footer-navbar">
                  <li class="footer-navbar__item"><a href="#">Разместить рекламу </a></li>
                  <li class="footer-navbar__item"><a href="#">Наши рекламодатели </a></li>
                  <li class="footer-navbar__item"><a href="#">Тендер </a></li>
                  <li class="footer-navbar__item"><a href="#">О&nbsp;нас </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="#" class="btn btn--red-transparent btn--sm btn--rounded">вход для рекламодателей</a>
                <div class="analitics footer-text">2 995 посещений вчера <br />по&nbsp;независимым данным Google Analytics</div><a href="mailto:reklama@produkty.biz" class="footer-link">reklama@produkty.biz</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="/" class="footer-brand"><img src="f/i/brand.jpg"></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--include modal-->
  <script src="f/js/jquery.min.js"></script>
  <script src="f/js/vendor.js"></script>
  <script src="f/js/jquery.fancybox.pack.js"></script>
  <script src="f/js/main.js"></script>
  <!--script(src='f/js/validate.js')-->
  <!--block scripts-->
  <!--include analitics-->
</body>
