html/login.html
<!DOCTYPE html><!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Produkty</title>
  <link rel="shortcut icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="canonical" href=".html">
  <link rel="stylesheet" href="f/css/jquery.fs.selecter.css">
  <link rel="stylesheet" href="f/css/jquery.fs.scroller.css">
  <link rel="stylesheet" href="f/css/main.css"><!--[if IE 8]><link rel="stylesheet" href="f/css/ie_older.css"><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/css3-mediaqueries.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/html5shiv.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/respond.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/selectivizr-min.js"></script><![endif]-->
</head>
<body>
  <div class="app main-page">
    <div class="app-content">
      <header class="app-header">
        <div class="header-top">
          <div class="container">
            <div class="header-top__inner">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12"><a href="/" class="navbar-brand"><img src="f/i/brand.jpg"></a>
                  <button type="button" class="navbar-top-toggle collapsed"><span class="icon-bar icon-bar--first"></span><span class="icon-bar"></span><span class="icon-bar icon-bar--last"></span></button>
                  <div id="navbar" class="app-header-nav">
                    <div class="visible-xs-block visible-sm-block">
                      <button type="button" class="navbar-toggle collapsed">назад</button>
                    </div>
                    <nav class="main-navbar-container">
                      <ul class="main-navbar">
                        <li><a href="#" class="navbar-target">Товары и услуги</a></li>
                        <li><a href="#" class="navbar-target">Поставщики</a></li>
                        <li><a href="#" class="navbar-target">Новости</a></li>
                        <li><a href="about.html" class="navbar-target">О нас</a></li>
                        <li><a href="contacts.html" class="navbar-target">Контакты</a></li>
                        <li><a href="#" class="navbar-target">Реклама</a></li>
                        <li><a href="login.html" class="navbar-target">Войти</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background-image: url('content/bg-header/frame-1.jpg')" class="app-header-wrap">
          <div class="container">
            <div class="app-header-wrap__inner">
              <div class="container">
                <div class="app-header-wrap__slogan-wrap">
                  <div class="app-header-wrap__slogan">Продукты оптом от лучших производителей одним кликом</div>
                </div>
              </div>
              <form action="" accept-charset="utf8">
                <div class="header-search">
                  <button type="submit" class="header-search__submit btn-search"><i class="icon-search"></i><span>найти</span></button>
                  <div class="header-search__inp">
                    <input type="text" placeholder="Поиск товара по каталогу">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="wrap-content">
          <div class="container">
            <div class="section section--offset-top">
              <div class="section__title">
                <div class="btn-group-inline btn--wide">Вход</div>
                <div class="btn-group-inline btn--wide"><a href="user.html" class="link">Регистрация</a></div>
              </div>
              <div class="section__content">
                <p class="text-md">Мы делаем все возможное, чтобы покупатели и продавцы нашли друг друга</p>
              </div>
              <div class="form-fieldset">
                <form autocomplete="off" action="" class="form-horizontal">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-5">
                      <div class="control-label control-label--top text-md">Заполните данные для регистрации</div>
                      <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                          <input id="email" placeholder="Почта *" type="text" name="email" maxlength="100" tabindex="1" value="" class="form-control js-require">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                          <input id="password" placeholder="Пароль *" type="text" name="password" maxlength="100" tabindex="2" value="" class="form-control js-require">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                          <input id="confirmpassword" placeholder="Подтвердите пароль" name="confirmpassword" type="password" tabindex="3" value="" class="form-control js-require">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                          <p>
                            <input type="submit" value="Зарегистрироваться" class="btn btn--green btn--lg btn--rounded">
                          </p>
                          <p class="text-mutter">Нажав на&nbsp;кнопку &laquo;Зарегистрироваться&raquo;, Вы&nbsp;соглашаетесь c&nbsp;<a class="link"  href="#">правилами пользования</a> портала produkty.biz.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="app-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="copyright footer-text">© produkty.biz, 2008–2016<br />Республика Беларусь</div><a href="#" class="footer-link">Контактная информация</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <ul class="footer-navbar">
                  <li class="footer-navbar__item"><a href="#">Разместить рекламу </a></li>
                  <li class="footer-navbar__item"><a href="#">Наши рекламодатели </a></li>
                  <li class="footer-navbar__item"><a href="#">Тендер </a></li>
                  <li class="footer-navbar__item"><a href="#">О&nbsp;нас </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="#" class="btn btn--red-transparent btn--sm btn--rounded">вход для рекламодателей</a>
                <div class="analitics footer-text">2 995 посещений вчера <br />по&nbsp;независимым данным Google Analytics</div><a href="mailto:reklama@produkty.biz" class="footer-link">reklama@produkty.biz</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="/" class="footer-brand"><img src="f/i/brand.jpg"></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--include modal-->
  <script src="f/js/jquery.min.js"></script>
  <script src="f/js/vendor.js"></script>
  <script src="f/js/jquery.fancybox.pack.js"></script>
  <script src="f/js/main.js"></script>
  <!--script(src='f/js/validate.js')-->
  <!--block scripts-->
  <!--include analitics-->
</body>

source/login.jade
extends ./includes/layout.jade

block link
	-var active = 'login';
block content
	.container
		.section.section--offset-top
			.section__title
				.btn-group-inline.btn--wide Вход
				.btn-group-inline.btn--wide
					a.link(href="user.html") Регистрация
			.section__content
				p.text-md Мы делаем все возможное, чтобы покупатели и продавцы нашли друг друга
			.form-fieldset
				form.form-horizontal(autocomplete="off", action="")
					.row
						.col-xs-12.col-sm-6.col-md-5
							.control-label.control-label--top.text-md Заполните данные для регистрации
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input.form-control.js-require(id="email", placeholder="Почта *", type="text", name="email", maxlength="100", tabindex="1", value="")
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input.form-control.js-require(id="password", placeholder="Пароль *", type="text", name="password", maxlength="100", tabindex="2", value="")
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input.form-control.js-require(id="confirmpassword", placeholder="Подтвердите пароль", name="confirmpassword", type="password", tabindex="3", value="")
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									p
										input.btn.btn--green.btn--lg.btn--rounded(type="submit", value="Зарегистрироваться")
									p.text-mutter Нажав на&nbsp;кнопку &laquo;Зарегистрироваться&raquo;, Вы&nbsp;соглашаетесь c&nbsp;<a class="link"  href="#">правилами пользования</a> портала produkty.biz.
