source/news.jade
extends ./includes/layout.jade

block content
	.container
		block breadcrumb
			-var breadcrumbs_list = [{"url": "/", "title": "produkty.biz"}, {"url": "", "title": "Новости"}]
		.wrap-content
			include ./includes/breadcrumbs
			include ./includes/right-menu-content
			.wrap-content__left
				.static-page
					.section
						.section__title Новости
							.section__target.visible-xs-block.visible-sm-block.visible-md-block
								a.js-menu-collapse(href="#") Все новости
						.section__content
							.news-list.js-fixed-height
								.row
									-var news_list = [{"src": "content/news/item-1.jpg", "url": "conference.html", "category": "Выставки", "title": "В&nbsp;Перми завершилась выставка &laquo;АгроУрал-2016&raquo;", "date": "8 апреля 2016"}, {"src": "content/news/item-2.jpg", "url": "conference.html", "category": "Животноводство", "title": "Инвестиции в&nbsp;будущее", "date": "12 марта 2016"}, {"src": "content/news/item-3.jpg", "url": "conference.html", "category": "Растениеводство", "title": "В&nbsp;мульчу или в&nbsp;полоску", "date": "1 марта 2016"}, {"src": "content/news/item-4.jpg", "url": "conference.html", "category": "Растениеводство", "title": "Соя на&nbsp;любой вкус", "date": "8 апреля 2016"}, {"src": "content/news/item-5.jpg", "url": "conference.html", "category": "Обзоры", "title": "&laquo;Зеленые тренды&raquo;", "date": "12 марта 2016"}, {"src": "content/news/item-6.jpg", "url": "conference.html", "category": "Конференции", "title": "Проведение V&nbsp;Международного экономического форума &laquo;Инновации. Инвестиции. Перспективы&raquo;", "date": "1 марта 2016"}, {"src": "content/news/item-7.jpg", "url": "conference.html", "category": "технологии", "title": "С&nbsp;планшетом в&nbsp;кабине", "date": "27 февраля 2016"}, {"src": "content/news/item-8.jpg", "url": "conference.html", "category": "бизнес", "title": "Экономическая оценка инвестиций", "date": "21 февраля 2016"}, {"src": "content/news/item-9.jpg", "url": "conference.html", "category": "Животноводство", "title": "Опыт промышленного откорма пекинской утки", "date": "16 февраля 2016"}, {"src": "content/news/item-10.jpg", "url": "conference.html", "category": "актуально", "title": "В&nbsp;феврале российские и&nbsp;французские предприниматели обсудили плюсы и&nbsp;минусы ведения агробизнеса в&nbsp;нашей стране", "date": "11 февраля 2016"}, {"src": "content/news/item-11.jpg", "url": "conference.html", "category": "Конференции", "title": "В&nbsp;Москве прошла седьмая международная аграрная конференция &laquo;Где Маржа&raquo;.", "date": "9 февраля 2016"}, {"src": "content/news/item-12.jpg", "url": "conference.html", "category": "актуально", "title": "Новости АПК за&nbsp;рубежом #12", "date": "1 января 2016"}]
									each val in news_list
										.col-xs-12.col-sm-6.col-md-4
											.news-list-item.box
												.news-list-item__media.box-img
													img(src=val.src)
												.news-list-item__content.box-content
													.row
														.col-xs-7.col-sm-7.col-md-7
															a.news-list__target(href=val.url) #{val.category}
														.col-xs-5.col-sm-5.col-md-5
															.news-list__date #{val.date}
													.news-list__title !{val.title}

						.section__footer
							include ./includes/pagination

html/news.html
<!DOCTYPE html><!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Produkty</title>
  <link rel="shortcut icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="canonical" href=".html">
  <link rel="stylesheet" href="f/css/jquery.fs.selecter.css">
  <link rel="stylesheet" href="f/css/jquery.fs.scroller.css">
  <link rel="stylesheet" href="f/css/main.css"><!--[if IE 8]><link rel="stylesheet" href="f/css/ie_older.css"><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/css3-mediaqueries.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/html5shiv.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/respond.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/selectivizr-min.js"></script><![endif]-->
</head>
<body>
  <div class="app main-page">
    <div class="app-content">
      <header class="app-header">
        <div class="header-top">
          <div class="container">
            <div class="header-top__inner">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12"><a href="/" class="navbar-brand"><img src="f/i/brand.jpg"></a>
                  <button type="button" class="navbar-top-toggle collapsed"><span class="icon-bar icon-bar--first"></span><span class="icon-bar"></span><span class="icon-bar icon-bar--last"></span></button>
                  <div id="navbar" class="app-header-nav">
                    <div class="visible-xs-block visible-sm-block">
                      <button type="button" class="navbar-toggle collapsed">назад</button>
                    </div>
                    <nav class="main-navbar-container">
                      <ul class="main-navbar">
                        <li><a href="#" class="navbar-target">Товары и услуги</a></li>
                        <li><a href="#" class="navbar-target">Поставщики</a></li>
                        <li><a href="#" class="navbar-target">Новости</a></li>
                        <li><a href="about.html" class="navbar-target">О нас</a></li>
                        <li><a href="contacts.html" class="navbar-target">Контакты</a></li>
                        <li><a href="#" class="navbar-target">Реклама</a></li>
                        <li><a href="login.html" class="navbar-target">Войти</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background-image: url('content/bg-header/frame-1.jpg')" class="app-header-wrap">
          <div class="container">
            <div class="app-header-wrap__inner">
              <div class="container">
                <div class="app-header-wrap__slogan-wrap">
                  <div class="app-header-wrap__slogan">Продукты оптом от лучших производителей одним кликом</div>
                </div>
              </div>
              <form action="" accept-charset="utf8">
                <div class="header-search">
                  <button type="submit" class="header-search__submit btn-search"><i class="icon-search"></i><span>найти</span></button>
                  <div class="header-search__inp">
                    <input type="text" placeholder="Поиск товара по каталогу">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="wrap-content">
          <div class="container">
            <div class="wrap-content">
              <div class="breadcrumb-container">
                <ol class="breadcrumb">
                  <li><a href="/">produkty.biz</a> -
                  </li>
                  <li>Новости
                  </li>
                </ol>
              </div>
              <div class="wrap-content__right wrap-content__right--offset">
                <div class="left-nav">
                  <div class="left-nav__heading">
                    <div class="left-nav__title visible-xs-block visible-sm-block visible-md-block js-menu-hidden">Назад</div><a href="#" class="left-nav__title visible-lg-inline-block">Все новости</a>
                  </div>
                  <div class="left-nav__content">
                    <ul class="left-nav-list">
                      <li><a href="news.html" title="Актуально" class="left-nav-list__link">Актуально</a></li>
                      <li><a href="business.html" title="Бизнес" class="left-nav-list__link">Бизнес</a></li>
                      <li><a href="exhibition.html" title="Выставки" class="left-nav-list__link">Выставки</a></li>
                      <li><a href="crop.html" title="Ратсениеводство" class="left-nav-list__link">Ратсениеводство</a></li>
                      <li><a href="animal.html" title="Животноводство" class="left-nav-list__link">Животноводство</a></li>
                      <li><a href="review.html" title="Обзоры" class="left-nav-list__link">Обзоры</a></li>
                      <li><a href="advice.html" title="Советы" class="left-nav-list__link">Советы</a></li>
                      <li><a href="technology.html" title="Технологии" class="left-nav-list__link">Технологии</a></li>
                      <li><a href="conference.html" title="Конференции" class="left-nav-list__link">Конференции</a></li>
                      <li><a href="officially.html" title="Официально" class="left-nav-list__link">Официально</a></li>
                      <li><a href="legislation.html" title="Законодательство" class="left-nav-list__link">Законодательство</a></li>
                      <li><a href="incidents.html" title="Происшествия" class="left-nav-list__link">Происшествия</a></li>
                    </ul>
                  </div>
                  <div class="left-nav__footer"><a href="#" class="left-nav__subtitle">Новости компании</a></div>
                </div>
              </div>
              <div class="wrap-content__left">
                <div class="static-page">
                  <div class="section">
                    <div class="section__title">Новости
                      <div class="section__target visible-xs-block visible-sm-block visible-md-block"><a href="#" class="js-menu-collapse">Все новости</a></div>
                    </div>
                    <div class="section__content">
                      <div class="news-list js-fixed-height">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="news-list-item box">
                              <div class="news-list-item__media box-img"><img src="content/news/item-1.jpg"></div>
                              <div class="news-list-item__content box-content">
                                <div class="row">
                                  <div class="col-xs-7 col-sm-7 col-md-7"><a href="conference.html" class="news-list__target">Выставки</a></div>
                                  <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="news-list__date">8 апреля 2016</div>
                                  </div>
                                </div>
                                <div class="news-list__title">В&nbsp;Перми завершилась выставка &laquo;АгроУрал-2016&raquo;</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="news-list-item box">
                              <div class="news-list-item__media box-img"><img src="content/news/item-2.jpg"></div>
                              <div class="news-list-item__content box-content">
                                <div class="row">
                                  <div class="col-xs-7 col-sm-7 col-md-7"><a href="conference.html" class="news-list__target">Животноводство</a></div>
                                  <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="news-list__date">12 марта 2016</div>
                                  </div>
                                </div>
                                <div class="news-list__title">Инвестиции в&nbsp;будущее</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="news-list-item box">
                              <div class="news-list-item__media box-img"><img src="content/news/item-3.jpg"></div>
                              <div class="news-list-item__content box-content">
                                <div class="row">
                                  <div class="col-xs-7 col-sm-7 col-md-7"><a href="conference.html" class="news-list__target">Растениеводство</a></div>
                                  <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="news-list__date">1 марта 2016</div>
                                  </div>
                                </div>
                                <div class="news-list__title">В&nbsp;мульчу или в&nbsp;полоску</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="news-list-item box">
                              <div class="news-list-item__media box-img"><img src="content/news/item-4.jpg"></div>
                              <div class="news-list-item__content box-content">
                                <div class="row">
                                  <div class="col-xs-7 col-sm-7 col-md-7"><a href="conference.html" class="news-list__target">Растениеводство</a></div>
                                  <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="news-list__date">8 апреля 2016</div>
                                  </div>
                                </div>
                                <div class="news-list__title">Соя на&nbsp;любой вкус</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="news-list-item box">
                              <div class="news-list-item__media box-img"><img src="content/news/item-5.jpg"></div>
                              <div class="news-list-item__content box-content">
                                <div class="row">
                                  <div class="col-xs-7 col-sm-7 col-md-7"><a href="conference.html" class="news-list__target">Обзоры</a></div>
                                  <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="news-list__date">12 марта 2016</div>
                                  </div>
                                </div>
                                <div class="news-list__title">&laquo;Зеленые тренды&raquo;</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="news-list-item box">
                              <div class="news-list-item__media box-img"><img src="content/news/item-6.jpg"></div>
                              <div class="news-list-item__content box-content">
                                <div class="row">
                                  <div class="col-xs-7 col-sm-7 col-md-7"><a href="conference.html" class="news-list__target">Конференции</a></div>
                                  <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="news-list__date">1 марта 2016</div>
                                  </div>
                                </div>
                                <div class="news-list__title">Проведение V&nbsp;Международного экономического форума &laquo;Инновации. Инвестиции. Перспективы&raquo;</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="news-list-item box">
                              <div class="news-list-item__media box-img"><img src="content/news/item-7.jpg"></div>
                              <div class="news-list-item__content box-content">
                                <div class="row">
                                  <div class="col-xs-7 col-sm-7 col-md-7"><a href="conference.html" class="news-list__target">технологии</a></div>
                                  <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="news-list__date">27 февраля 2016</div>
                                  </div>
                                </div>
                                <div class="news-list__title">С&nbsp;планшетом в&nbsp;кабине</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="news-list-item box">
                              <div class="news-list-item__media box-img"><img src="content/news/item-8.jpg"></div>
                              <div class="news-list-item__content box-content">
                                <div class="row">
                                  <div class="col-xs-7 col-sm-7 col-md-7"><a href="conference.html" class="news-list__target">бизнес</a></div>
                                  <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="news-list__date">21 февраля 2016</div>
                                  </div>
                                </div>
                                <div class="news-list__title">Экономическая оценка инвестиций</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="news-list-item box">
                              <div class="news-list-item__media box-img"><img src="content/news/item-9.jpg"></div>
                              <div class="news-list-item__content box-content">
                                <div class="row">
                                  <div class="col-xs-7 col-sm-7 col-md-7"><a href="conference.html" class="news-list__target">Животноводство</a></div>
                                  <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="news-list__date">16 февраля 2016</div>
                                  </div>
                                </div>
                                <div class="news-list__title">Опыт промышленного откорма пекинской утки</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="news-list-item box">
                              <div class="news-list-item__media box-img"><img src="content/news/item-10.jpg"></div>
                              <div class="news-list-item__content box-content">
                                <div class="row">
                                  <div class="col-xs-7 col-sm-7 col-md-7"><a href="conference.html" class="news-list__target">актуально</a></div>
                                  <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="news-list__date">11 февраля 2016</div>
                                  </div>
                                </div>
                                <div class="news-list__title">В&nbsp;феврале российские и&nbsp;французские предприниматели обсудили плюсы и&nbsp;минусы ведения агробизнеса в&nbsp;нашей стране</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="news-list-item box">
                              <div class="news-list-item__media box-img"><img src="content/news/item-11.jpg"></div>
                              <div class="news-list-item__content box-content">
                                <div class="row">
                                  <div class="col-xs-7 col-sm-7 col-md-7"><a href="conference.html" class="news-list__target">Конференции</a></div>
                                  <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="news-list__date">9 февраля 2016</div>
                                  </div>
                                </div>
                                <div class="news-list__title">В&nbsp;Москве прошла седьмая международная аграрная конференция &laquo;Где Маржа&raquo;.</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="news-list-item box">
                              <div class="news-list-item__media box-img"><img src="content/news/item-12.jpg"></div>
                              <div class="news-list-item__content box-content">
                                <div class="row">
                                  <div class="col-xs-7 col-sm-7 col-md-7"><a href="conference.html" class="news-list__target">актуально</a></div>
                                  <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="news-list__date">1 января 2016</div>
                                  </div>
                                </div>
                                <div class="news-list__title">Новости АПК за&nbsp;рубежом #12</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="section__footer">
                      <div class="pager-container">
                        <div class="pager-controls"><a href="#" class="pager-controls__prev"></a>
                          <ul class="pager">
                            <li class="pager__item"><a href="#">1</a></li>
                            <li class="pager__item"><a href="#">2</a></li>
                            <li class="pager__item active"><a href="#">3</a></li>
                            <li class="pager__item"><a href="#">4</a></li>
                          </ul><a href="#" class="pager-controls__next"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="app-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="copyright footer-text">© produkty.biz, 2008–2016<br />Республика Беларусь</div><a href="#" class="footer-link">Контактная информация</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <ul class="footer-navbar">
                  <li class="footer-navbar__item"><a href="#">Разместить рекламу </a></li>
                  <li class="footer-navbar__item"><a href="#">Наши рекламодатели </a></li>
                  <li class="footer-navbar__item"><a href="#">Тендер </a></li>
                  <li class="footer-navbar__item"><a href="#">О&nbsp;нас </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="#" class="btn btn--red-transparent btn--sm btn--rounded">вход для рекламодателей</a>
                <div class="analitics footer-text">2 995 посещений вчера <br />по&nbsp;независимым данным Google Analytics</div><a href="mailto:reklama@produkty.biz" class="footer-link">reklama@produkty.biz</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="/" class="footer-brand"><img src="f/i/brand.jpg"></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--include modal-->
  <script src="f/js/jquery.min.js"></script>
  <script src="f/js/vendor.js"></script>
  <script src="f/js/jquery.fancybox.pack.js"></script>
  <script src="f/js/main.js"></script>
  <!--script(src='f/js/validate.js')-->
  <!--block scripts-->
  <!--include analitics-->
</body>
