source/product.jade
extends ./includes/layout.jade

block link
	-var active = 'product';
block content
	.container
		block breadcrumb
			-var breadcrumbs_list = [{"url": "/", "title": "produkty.biz"}, {"url": "#", "title": "Молочные продукты"}, {"url": "", "title": "Йогурты"}]
		.wrap-content
			include ./includes/breadcrumbs
			.section
				.section__content
					.wrap-content__left
						.product-single
							.product-single-item
								.product-single-item__row
									.product-single-item__col-media
										.product-single-item__media
											img(src="content/product/img-1.jpg", alt="")
									.product-single-item__col-content
										.product-single-item__title Сыр Galbani Mozzarella Max 45%
										.tab
											ul.tab-nav.row.no-margin.product-single-item-nav
												li.tab-nav__item.col-xs-6.col-sm-3.col-md-2.no-padding.product-single-item-nav__handler
													a.tab-nav-handler(href="#tab-1") Описание
												li.tab-nav__item.col-xs-6.col-sm-3.col-md-2.no-padding.product-single-item-nav__handler
													a.tab-nav-handler(href="#tab-2") Характеристики
											.tab-content
												.tab-content__item.tab-pane.fade(id="tab-1")
													.product-single-item__info
														p Galbani Mozzarella Maxi – это свежая моцарелла для всей семьи. Сыр продается в рассоле, в новой цилиндрической упаковке.
														p Благодаря практичной расфасовке моцареллы в виде длинного цилиндра весом 250 г сыр очень легко нарезать, поэтому это оптимальный выбор для салатов, сэндвичей и пиццы. 
												.tab-content__item.tab-pane.fade(id="tab-2")
													.product-single-item__info
														p Galbani Mozzarella Maxi – это свежая моцарелла для всей семьи. Сыр продается в рассоле, в новой цилиндрической упаковке.
								.product-single-item-footer
									.product-single-item-footer__item
										.product-single-item__footer-nav.first 4 продавца
									.product-single-item-footer__item
										.product-single-item__footer-nav от <span>750 руб.</span> до  <span>3 499 руб</span>.
										.product-single-item__footer-info за упаковку с НДС

						mixin cat_item(_price, _src, _title, _text, _list, _seller, _class)
							.provide-list-container__item
								.provide-item
									.provide-item__row
										.provide-item__heading
											.provide-item-price(class=_class)
												.provide-item-price__title #{_price}
												.provide-item-price__text за упаковку с НДС
											.provide-item-thumbnail
												if(_src != "")
													.provide-item-thumbnail__media
														img(src=_src)
												.provide-item-thumbnail__title !{_title}
												.provide-item-thumbnail__text !{_text}
										.provide-item__content
											.provide-item__info
												each val in _list
													p !{val.text}
									.provide-item__row
										.provide-item__footer
											.provide-item-footer-nav
												each val in _seller
													.provide-item-footer-nav__item !{val.text}

						.provide-list
							.provide-list__heading
								.sort
									.sort__item
										.sort-target Сортировать по цене
								.filter
									.filter__item.checkbox-inline
										input#provide(type="checkbox", val="")
										label(for="provide") 1-й поставщик
									.filter__item.checkbox-inline
										input#fabric(type="checkbox", val="")
										label(for="fabric") Производитель
							.provide-list-container
								-var list = [{"text": "Производитель. Сертификат. Мин. партия 1 куб. м. Поставка по графику. Консультация специалиста. Доставка: самосвалом, автобетоносмесителями 6, 7, 8, 9, 10, 12 куб.м. Возможен самовывоз. Работаем согласно ГОСТу! Решим любую задачу. Узел возле МКАД. Профессиональные консультации."}, {"text": "Договор. Предоплата. Возможна оплата по факту поставки. Безнал; нал. расчет. Работаем с физлицами."}, {"text": "Специальные условия и цены: постоянным клиентам, строителям, оптовикам."}]
								-var seller = [{"text": "+375 29 394-55-42"}, {"text": "<span>Сайт: </span><a href='m200.by'>m200.by</a>"}, {"text": "<span>Эл. почта: </span><a href='mailto:info@m200.by'>info@m200.by</a>"}]
								+cat_item("от 7 900 руб.", "content/product/provide/img-1.jpg", "Романович А.А. ИП", "Сегодня работаем с 08:00 до 20:00 Регион: Минск, Минская обл.", list, seller, "")
								-var list = [{"text": "Производитель. Сертификат. Мин. партия 1 куб. м. Поставка по графику. Консультация специалиста. Доставка: самосвалом, автобетоносмесителями 6, 7, 8, 9, 10, 12 куб.м. Возможен самовывоз. Работаем согласно ГОСТу! Решим любую задачу. Узел возле МКАД. Профессиональные консультации."}, {"text": "Договор. Предоплата. Возможна оплата по факту поставки. Безнал; нал. расчет. Работаем с физлицами."}, {"text": "Специальные условия и цены: постоянным клиентам, строителям, оптовикам."}]
								-var seller = [{"text": "+375 29 394-55-42"}, {"text": "<span>Сайт: </span><a href='m200.by'>m200.by</a>"}, {"text": "<span>Эл. почта: </span><a href='mailto:info@m200.by'>info@m200.by</a>"}]
								+cat_item("от 7 900 руб.", "content/product/provide/img-2.jpg", "Романович А.А. ИП", "Сегодня работаем с 08:00 до 20:00 Регион: Минск, Минская обл.", list, seller, "")
								-var list = [{"text": "Договор. Предоплата. Возможна оплата по факту поставки. Безнал; нал. расчет. Работаем с физлицами."}]
								-var seller = [{"text": "+375 29 394-55-42"}, {"text": "+375 29 394-55-42"}]
								+cat_item("от 7 900 руб.", "content/product/provide/img-3.jpg", "Романович А.А. ИП", "Сегодня работаем с 08:00 до 20:00 Регион: Минск, Минская обл.", list, seller, "")
								-var list = [{"text": "Договор. Предоплата. Возможна оплата по факту поставки. Безнал; нал. расчет. Работаем с физлицами."}]
								-var seller = [{"text": "+375 29 394-55-42"}, {"text": "<span>Сайт: </span><a href='m200.by'>m200.by</a>"}, {"text": "<span>Эл. почта: </span><a href='mailto:info@m200.by'>info@m200.by</a>"}]
								+cat_item("Цену уточняйте", "", "Травкина Светлана Григорьевна ИП", "", list, seller, "provide-item-price--null")

							.provide-list__footer
								.content-text
									p Купить свежую моцарелла в Минске можно, воспользовавшись предложениями, представленными на нашем сайте. Выбирайте, сравнивайте и заказывайте грунт растительный на самых выгодных условиях. Узнать, сколько стоит, где купить, а также условия доставки вы можете с помощью каталога  и услуг produkti.biz

html/product.html
<!DOCTYPE html><!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Produkty</title>
  <link rel="shortcut icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="canonical" href=".html">
  <link rel="stylesheet" href="f/css/jquery.fs.selecter.css">
  <link rel="stylesheet" href="f/css/jquery.fs.scroller.css">
  <link rel="stylesheet" href="f/css/main.css"><!--[if IE 8]><link rel="stylesheet" href="f/css/ie_older.css"><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/css3-mediaqueries.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/html5shiv.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/respond.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/selectivizr-min.js"></script><![endif]-->
</head>
<body>
  <div class="app main-page">
    <div class="app-content">
      <header class="app-header">
        <div class="header-top">
          <div class="container">
            <div class="header-top__inner">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12"><a href="/" class="navbar-brand"><img src="f/i/brand.jpg"></a>
                  <button type="button" class="navbar-top-toggle collapsed"><span class="icon-bar icon-bar--first"></span><span class="icon-bar"></span><span class="icon-bar icon-bar--last"></span></button>
                  <div id="navbar" class="app-header-nav">
                    <div class="visible-xs-block visible-sm-block">
                      <button type="button" class="navbar-toggle collapsed">назад</button>
                    </div>
                    <nav class="main-navbar-container">
                      <ul class="main-navbar">
                        <li><a href="#" class="navbar-target">Товары и услуги</a></li>
                        <li><a href="#" class="navbar-target">Поставщики</a></li>
                        <li><a href="#" class="navbar-target">Новости</a></li>
                        <li><a href="about.html" class="navbar-target">О нас</a></li>
                        <li><a href="contacts.html" class="navbar-target">Контакты</a></li>
                        <li><a href="#" class="navbar-target">Реклама</a></li>
                        <li><a href="login.html" class="navbar-target">Войти</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background-image: url('content/bg-header/frame-1.jpg')" class="app-header-wrap">
          <div class="container">
            <div class="app-header-wrap__inner">
              <div class="container">
                <div class="app-header-wrap__slogan-wrap">
                  <div class="app-header-wrap__slogan">Продукты оптом от лучших производителей одним кликом</div>
                </div>
              </div>
              <form action="" accept-charset="utf8">
                <div class="header-search">
                  <button type="submit" class="header-search__submit btn-search"><i class="icon-search"></i><span>найти</span></button>
                  <div class="header-search__inp">
                    <input type="text" placeholder="Поиск товара по каталогу">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="wrap-content">
          <div class="container">
            <div class="wrap-content">
              <div class="breadcrumb-container">
                <ol class="breadcrumb">
                  <li><a href="/">produkty.biz</a> -
                  </li>
                  <li><a href="#">Молочные продукты</a> -
                  </li>
                  <li>Йогурты
                  </li>
                </ol>
              </div>
              <div class="section">
                <div class="section__content">
                  <div class="wrap-content__left">
                    <div class="product-single">
                      <div class="product-single-item">
                        <div class="product-single-item__row">
                          <div class="product-single-item__col-media">
                            <div class="product-single-item__media"><img src="content/product/img-1.jpg" alt=""></div>
                          </div>
                          <div class="product-single-item__col-content">
                            <div class="product-single-item__title">Сыр Galbani Mozzarella Max 45%</div>
                            <div class="tab">
                              <ul class="tab-nav row no-margin product-single-item-nav">
                                <li class="tab-nav__item col-xs-6 col-sm-3 col-md-2 no-padding product-single-item-nav__handler"><a href="#tab-1" class="tab-nav-handler">Описание</a></li>
                                <li class="tab-nav__item col-xs-6 col-sm-3 col-md-2 no-padding product-single-item-nav__handler"><a href="#tab-2" class="tab-nav-handler">Характеристики</a></li>
                              </ul>
                              <div class="tab-content">
                                <div id="tab-1" class="tab-content__item tab-pane fade">
                                  <div class="product-single-item__info">
                                    <p>Galbani Mozzarella Maxi – это свежая моцарелла для всей семьи. Сыр продается в рассоле, в новой цилиндрической упаковке.</p>
                                    <p>Благодаря практичной расфасовке моцареллы в виде длинного цилиндра весом 250 г сыр очень легко нарезать, поэтому это оптимальный выбор для салатов, сэндвичей и пиццы. </p>
                                  </div>
                                </div>
                                <div id="tab-2" class="tab-content__item tab-pane fade">
                                  <div class="product-single-item__info">
                                    <p>Galbani Mozzarella Maxi – это свежая моцарелла для всей семьи. Сыр продается в рассоле, в новой цилиндрической упаковке.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="product-single-item-footer">
                          <div class="product-single-item-footer__item">
                            <div class="product-single-item__footer-nav first">4 продавца</div>
                          </div>
                          <div class="product-single-item-footer__item">
                            <div class="product-single-item__footer-nav">от <span>750 руб.</span> до  <span>3 499 руб</span>.</div>
                            <div class="product-single-item__footer-info">за упаковку с НДС</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="provide-list">
                      <div class="provide-list__heading">
                        <div class="sort">
                          <div class="sort__item">
                            <div class="sort-target">Сортировать по цене</div>
                          </div>
                        </div>
                        <div class="filter">
                          <div class="filter__item checkbox-inline">
                            <input id="provide" type="checkbox" val="">
                            <label for="provide">1-й поставщик</label>
                          </div>
                          <div class="filter__item checkbox-inline">
                            <input id="fabric" type="checkbox" val="">
                            <label for="fabric">Производитель</label>
                          </div>
                        </div>
                      </div>
                      <div class="provide-list-container">
                                            <div class="provide-list-container__item">
                                              <div class="provide-item">
                                                <div class="provide-item__row">
                                                  <div class="provide-item__heading">
                                                    <div class="provide-item-price">
                                                      <div class="provide-item-price__title">от 7 900 руб.</div>
                                                      <div class="provide-item-price__text">за упаковку с НДС</div>
                                                    </div>
                                                    <div class="provide-item-thumbnail">
                                                      <div class="provide-item-thumbnail__media"><img src="content/product/provide/img-1.jpg"></div>
                                                      <div class="provide-item-thumbnail__title">Романович А.А. ИП</div>
                                                      <div class="provide-item-thumbnail__text">Сегодня работаем с 08:00 до 20:00 Регион: Минск, Минская обл.</div>
                                                    </div>
                                                  </div>
                                                  <div class="provide-item__content">
                                                    <div class="provide-item__info">
                                                      <p>Производитель. Сертификат. Мин. партия 1 куб. м. Поставка по графику. Консультация специалиста. Доставка: самосвалом, автобетоносмесителями 6, 7, 8, 9, 10, 12 куб.м. Возможен самовывоз. Работаем согласно ГОСТу! Решим любую задачу. Узел возле МКАД. Профессиональные консультации.</p>
                                                      <p>Договор. Предоплата. Возможна оплата по факту поставки. Безнал; нал. расчет. Работаем с физлицами.</p>
                                                      <p>Специальные условия и цены: постоянным клиентам, строителям, оптовикам.</p>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="provide-item__row">
                                                  <div class="provide-item__footer">
                                                    <div class="provide-item-footer-nav">
                                                      <div class="provide-item-footer-nav__item">+375 29 394-55-42</div>
                                                      <div class="provide-item-footer-nav__item"><span>Сайт: </span><a href='m200.by'>m200.by</a></div>
                                                      <div class="provide-item-footer-nav__item"><span>Эл. почта: </span><a href='mailto:info@m200.by'>info@m200.by</a></div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="provide-list-container__item">
                                              <div class="provide-item">
                                                <div class="provide-item__row">
                                                  <div class="provide-item__heading">
                                                    <div class="provide-item-price">
                                                      <div class="provide-item-price__title">от 7 900 руб.</div>
                                                      <div class="provide-item-price__text">за упаковку с НДС</div>
                                                    </div>
                                                    <div class="provide-item-thumbnail">
                                                      <div class="provide-item-thumbnail__media"><img src="content/product/provide/img-2.jpg"></div>
                                                      <div class="provide-item-thumbnail__title">Романович А.А. ИП</div>
                                                      <div class="provide-item-thumbnail__text">Сегодня работаем с 08:00 до 20:00 Регион: Минск, Минская обл.</div>
                                                    </div>
                                                  </div>
                                                  <div class="provide-item__content">
                                                    <div class="provide-item__info">
                                                      <p>Производитель. Сертификат. Мин. партия 1 куб. м. Поставка по графику. Консультация специалиста. Доставка: самосвалом, автобетоносмесителями 6, 7, 8, 9, 10, 12 куб.м. Возможен самовывоз. Работаем согласно ГОСТу! Решим любую задачу. Узел возле МКАД. Профессиональные консультации.</p>
                                                      <p>Договор. Предоплата. Возможна оплата по факту поставки. Безнал; нал. расчет. Работаем с физлицами.</p>
                                                      <p>Специальные условия и цены: постоянным клиентам, строителям, оптовикам.</p>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="provide-item__row">
                                                  <div class="provide-item__footer">
                                                    <div class="provide-item-footer-nav">
                                                      <div class="provide-item-footer-nav__item">+375 29 394-55-42</div>
                                                      <div class="provide-item-footer-nav__item"><span>Сайт: </span><a href='m200.by'>m200.by</a></div>
                                                      <div class="provide-item-footer-nav__item"><span>Эл. почта: </span><a href='mailto:info@m200.by'>info@m200.by</a></div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="provide-list-container__item">
                                              <div class="provide-item">
                                                <div class="provide-item__row">
                                                  <div class="provide-item__heading">
                                                    <div class="provide-item-price">
                                                      <div class="provide-item-price__title">от 7 900 руб.</div>
                                                      <div class="provide-item-price__text">за упаковку с НДС</div>
                                                    </div>
                                                    <div class="provide-item-thumbnail">
                                                      <div class="provide-item-thumbnail__media"><img src="content/product/provide/img-3.jpg"></div>
                                                      <div class="provide-item-thumbnail__title">Романович А.А. ИП</div>
                                                      <div class="provide-item-thumbnail__text">Сегодня работаем с 08:00 до 20:00 Регион: Минск, Минская обл.</div>
                                                    </div>
                                                  </div>
                                                  <div class="provide-item__content">
                                                    <div class="provide-item__info">
                                                      <p>Договор. Предоплата. Возможна оплата по факту поставки. Безнал; нал. расчет. Работаем с физлицами.</p>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="provide-item__row">
                                                  <div class="provide-item__footer">
                                                    <div class="provide-item-footer-nav">
                                                      <div class="provide-item-footer-nav__item">+375 29 394-55-42</div>
                                                      <div class="provide-item-footer-nav__item">+375 29 394-55-42</div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="provide-list-container__item">
                                              <div class="provide-item">
                                                <div class="provide-item__row">
                                                  <div class="provide-item__heading">
                                                    <div class="provide-item-price provide-item-price--null">
                                                      <div class="provide-item-price__title">Цену уточняйте</div>
                                                      <div class="provide-item-price__text">за упаковку с НДС</div>
                                                    </div>
                                                    <div class="provide-item-thumbnail">
                                                      <div class="provide-item-thumbnail__title">Травкина Светлана Григорьевна ИП</div>
                                                      <div class="provide-item-thumbnail__text"></div>
                                                    </div>
                                                  </div>
                                                  <div class="provide-item__content">
                                                    <div class="provide-item__info">
                                                      <p>Договор. Предоплата. Возможна оплата по факту поставки. Безнал; нал. расчет. Работаем с физлицами.</p>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="provide-item__row">
                                                  <div class="provide-item__footer">
                                                    <div class="provide-item-footer-nav">
                                                      <div class="provide-item-footer-nav__item">+375 29 394-55-42</div>
                                                      <div class="provide-item-footer-nav__item"><span>Сайт: </span><a href='m200.by'>m200.by</a></div>
                                                      <div class="provide-item-footer-nav__item"><span>Эл. почта: </span><a href='mailto:info@m200.by'>info@m200.by</a></div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                      </div>
                      <div class="provide-list__footer">
                        <div class="content-text">
                          <p>Купить свежую моцарелла в Минске можно, воспользовавшись предложениями, представленными на нашем сайте. Выбирайте, сравнивайте и заказывайте грунт растительный на самых выгодных условиях. Узнать, сколько стоит, где купить, а также условия доставки вы можете с помощью каталога  и услуг produkti.biz</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="app-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="copyright footer-text">© produkty.biz, 2008–2016<br />Республика Беларусь</div><a href="#" class="footer-link">Контактная информация</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <ul class="footer-navbar">
                  <li class="footer-navbar__item"><a href="#">Разместить рекламу </a></li>
                  <li class="footer-navbar__item"><a href="#">Наши рекламодатели </a></li>
                  <li class="footer-navbar__item"><a href="#">Тендер </a></li>
                  <li class="footer-navbar__item"><a href="#">О&nbsp;нас </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="#" class="btn btn--red-transparent btn--sm btn--rounded">вход для рекламодателей</a>
                <div class="analitics footer-text">2 995 посещений вчера <br />по&nbsp;независимым данным Google Analytics</div><a href="mailto:reklama@produkty.biz" class="footer-link">reklama@produkty.biz</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="/" class="footer-brand"><img src="f/i/brand.jpg"></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--include modal-->
  <script src="f/js/jquery.min.js"></script>
  <script src="f/js/vendor.js"></script>
  <script src="f/js/jquery.fancybox.pack.js"></script>
  <script src="f/js/main.js"></script>
  <!--script(src='f/js/validate.js')-->
  <!--block scripts-->
  <!--include analitics-->
</body>
