source/user.jade
extends ./includes/layout.jade

block link
	-var active = 'lk';
block content
	.container
		.section
			.section__content
				.wrap-content__left
					.personal
						.personal-nav
							.row.no-margin
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item.active
									a.personal-nav-target(href="#") Личные данные
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item
									a.personal-nav-target(href="company.html") Компания
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item
									a.personal-nav-target(href="faq.html") Техподдержка
						.personal-content
							.form-fieldset
								form.form-horizontal(autocomplete="off", action="")
									.row
										.col-xs-12.col-sm-4.col-md-3
											.control-label Персональные данные
										.col-xs-12.col-sm-8.col-md-6
											.form-group.has-error
												.col-xs-12.col-sm-7.col-md-8
													input.form-control.js-require(id="name", placeholder="Имя", type="text", name="name", maxlength="100", tabindex="1", value="ggd&&AGbdsb")
													span.error-message This field is required.
											.form-group
												.col-xs-12.col-sm-7.col-md-8
													input.form-control.js-require(id="fname", placeholder="Фамилия", type="text", name="fname", maxlength="100", tabindex="2", value="")
											.form-group
												.col-xs-12.col-sm-7.col-md-8
													input.form-control.js-require(id="email", placeholder="Почта *", type="text", name="email", maxlength="20", tabindex="3", value="")
											.form-group
												.col-xs-12.col-sm-7.col-md-8
													input.form-control.js-require(id="phone", placeholder="Телефон", type="text", name="phone", maxlength="20", tabindex="4", value="")
												.col-xs-12.col-sm-4.col-md-4.clone-this-wrapper
													a.btn.btn--blue.btn--xlg(href="#") Добавить телефон
											.form-group
												.col-xs-12.col-sm-7.col-md-8
													.btn-group-inline
														a.btn.btn--green.btn--lg.btn--rounded(href="#") Сохранить
													.btn-group-inline
														a.btn.btn--green-transparent.btn--lg.btn--rounded(href="#") Отменить
							.form-fieldset
								form.form-horizontal(autocomplete="off", action="")
									.row
										.col-xs-12.col-sm-4.col-md-3
											.control-label Смена пароля
											a.control-label-edit.js-form-edit(href="#") Изменить
										.col-xs-12.col-sm-8.col-md-6
											.js-form-enable(style="display: none;")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="password", placeholder="Текущий пароль", name="password", type="password", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="changepassword", placeholder="Новый пароль", name="changepassword", type="password", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="confirmpassword", placeholder="Подтвердите пароль", name="confirmpassword", type="password", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														.btn-group-inline
															a.btn.btn--green.btn--lg.btn--rounded(href="#") Сохранить
														.btn-group-inline
															a.btn.btn--green-transparent.btn--lg.btn--rounded.js-form-lock(href="#") Отменить
											.js-form-disable
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														span.form-control-lock ******
							.form-fieldset
								form.form-horizontal(autocomplete="off", action="")
									.row
										.col-xs-12.col-sm-4.col-md-3
											.control-label Настройки оповещений
											a.control-label-edit.js-form-edit(href="#") Изменить
										.col-xs-12.col-sm-8.col-md-6
											.js-form-enable(style="display: none;")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														.checkbox
															input(type="checkbox", val="", id="subscribe-email")
															label(for="subscribe-email") Получать информационные письма по эл. почте
														.checkbox
															input(type="checkbox", val="", id="subscribe-status")
															label(for="subscribe-status") Получать уведомления о смене статуса заявки
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														.btn-group-inline
															a.btn.btn--green.btn--lg.btn--rounded(href="#") Сохранить
														.btn-group-inline
															a.btn.btn--green-transparent.btn--lg.btn--rounded.js-form-lock(href="#") Отменить
											.js-form-disable
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														span.form-control-lock Получать информационные письма по эл. почте:
															span.email-info Да
													.col-xs-12.col-sm-7.col-md-8
														span.form-control-lock Получать уведомления о смене статуса заявки:
															span.email-info Да
							.form-fieldset
								.row
									.col-xs-12.col-sm-12.col-md-12
										a.btn.btn--default-transparent.btn--xmd.btn--rounded(href="#") Удаление учетной записи

html/user.html
<!DOCTYPE html><!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Produkty</title>
  <link rel="shortcut icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="icon" href="f/i/favicon.ico" type="image/x-icon">
  <link rel="canonical" href=".html">
  <link rel="stylesheet" href="f/css/jquery.fs.selecter.css">
  <link rel="stylesheet" href="f/css/jquery.fs.scroller.css">
  <link rel="stylesheet" href="f/css/main.css"><!--[if IE 8]><link rel="stylesheet" href="f/css/ie_older.css"><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/css3-mediaqueries.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/html5shiv.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/respond.min.js"></script><![endif]-->
  <!--[if IE 8]><script type='text/javascript' src="f/js/selectivizr-min.js"></script><![endif]-->
</head>
<body>
  <div class="app main-page">
    <div class="app-content">
      <header class="app-header">
        <div class="header-top">
          <div class="container">
            <div class="header-top__inner">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12"><a href="/" class="navbar-brand"><img src="f/i/brand.jpg"></a>
                  <button type="button" class="navbar-top-toggle collapsed"><span class="icon-bar icon-bar--first"></span><span class="icon-bar"></span><span class="icon-bar icon-bar--last"></span></button>
                  <div id="navbar" class="app-header-nav">
                    <div class="visible-xs-block visible-sm-block">
                      <button type="button" class="navbar-toggle collapsed">назад</button>
                    </div>
                    <nav class="main-navbar-container">
                      <ul class="main-navbar">
                        <li><a href="#" class="navbar-target">Товары и услуги</a></li>
                        <li><a href="#" class="navbar-target">Поставщики</a></li>
                        <li><a href="#" class="navbar-target">Новости</a></li>
                        <li><a href="about.html" class="navbar-target">О нас</a></li>
                        <li><a href="contacts.html" class="navbar-target">Контакты</a></li>
                        <li><a href="#" class="navbar-target">Реклама</a></li>
                        <li><a href="user.html" class="navbar-target navbar-target--login"><i class="icon-user"></i>Личный кабинет</a></li>
                        <li><a href="#" class="navbar-target">Выйти</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background-image: url('content/bg-header/frame-1.jpg')" class="app-header-wrap">
          <div class="container">
            <div class="app-header-wrap__inner">
              <div class="container">
                <div class="app-header-wrap__slogan-wrap">
                  <div class="app-header-wrap__slogan">Продукты оптом от лучших производителей одним кликом</div>
                </div>
              </div>
              <form action="" accept-charset="utf8">
                <div class="header-search">
                  <button type="submit" class="header-search__submit btn-search"><i class="icon-search"></i><span>найти</span></button>
                  <div class="header-search__inp">
                    <input type="text" placeholder="Поиск товара по каталогу">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="wrap-content">
          <div class="container">
            <div class="section">
              <div class="section__content">
                <div class="wrap-content__left">
                  <div class="personal">
                    <div class="personal-nav">
                      <div class="row no-margin">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 no-padding personal-nav__item active"><a href="#" class="personal-nav-target">Личные данные</a></div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 no-padding personal-nav__item"><a href="company.html" class="personal-nav-target">Компания</a></div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 no-padding personal-nav__item"><a href="faq.html" class="personal-nav-target">Техподдержка</a></div>
                      </div>
                    </div>
                    <div class="personal-content">
                      <div class="form-fieldset">
                        <form autocomplete="off" action="" class="form-horizontal">
                          <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3">
                              <div class="control-label">Персональные данные</div>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-6">
                              <div class="form-group has-error">
                                <div class="col-xs-12 col-sm-7 col-md-8">
                                  <input id="name" placeholder="Имя" type="text" name="name" maxlength="100" tabindex="1" value="ggd&amp;&amp;AGbdsb" class="form-control js-require"><span class="error-message">This field is required.</span>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-xs-12 col-sm-7 col-md-8">
                                  <input id="fname" placeholder="Фамилия" type="text" name="fname" maxlength="100" tabindex="2" value="" class="form-control js-require">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-xs-12 col-sm-7 col-md-8">
                                  <input id="email" placeholder="Почта *" type="text" name="email" maxlength="20" tabindex="3" value="" class="form-control js-require">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-xs-12 col-sm-7 col-md-8">
                                  <input id="phone" placeholder="Телефон" type="text" name="phone" maxlength="20" tabindex="4" value="" class="form-control js-require">
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 clone-this-wrapper"><a href="#" class="btn btn--blue btn--xlg">Добавить телефон</a></div>
                              </div>
                              <div class="form-group">
                                <div class="col-xs-12 col-sm-7 col-md-8">
                                  <div class="btn-group-inline"><a href="#" class="btn btn--green btn--lg btn--rounded">Сохранить</a></div>
                                  <div class="btn-group-inline"><a href="#" class="btn btn--green-transparent btn--lg btn--rounded">Отменить</a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="form-fieldset">
                        <form autocomplete="off" action="" class="form-horizontal">
                          <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3">
                              <div class="control-label">Смена пароля</div><a href="#" class="control-label-edit js-form-edit">Изменить</a>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-6">
                              <div style="display: none;" class="js-form-enable">
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="password" placeholder="Текущий пароль" name="password" type="password" value="" class="form-control js-require">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="changepassword" placeholder="Новый пароль" name="changepassword" type="password" value="" class="form-control js-require">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <input id="confirmpassword" placeholder="Подтвердите пароль" name="confirmpassword" type="password" value="" class="form-control js-require">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <div class="btn-group-inline"><a href="#" class="btn btn--green btn--lg btn--rounded">Сохранить</a></div>
                                    <div class="btn-group-inline"><a href="#" class="btn btn--green-transparent btn--lg btn--rounded js-form-lock">Отменить</a></div>
                                  </div>
                                </div>
                              </div>
                              <div class="js-form-disable">
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8"><span class="form-control-lock">******</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="form-fieldset">
                        <form autocomplete="off" action="" class="form-horizontal">
                          <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3">
                              <div class="control-label">Настройки оповещений</div><a href="#" class="control-label-edit js-form-edit">Изменить</a>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-6">
                              <div style="display: none;" class="js-form-enable">
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <div class="checkbox">
                                      <input type="checkbox" val="" id="subscribe-email">
                                      <label for="subscribe-email">Получать информационные письма по эл. почте</label>
                                    </div>
                                    <div class="checkbox">
                                      <input type="checkbox" val="" id="subscribe-status">
                                      <label for="subscribe-status">Получать уведомления о смене статуса заявки</label>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8">
                                    <div class="btn-group-inline"><a href="#" class="btn btn--green btn--lg btn--rounded">Сохранить</a></div>
                                    <div class="btn-group-inline"><a href="#" class="btn btn--green-transparent btn--lg btn--rounded js-form-lock">Отменить</a></div>
                                  </div>
                                </div>
                              </div>
                              <div class="js-form-disable">
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-7 col-md-8"><span class="form-control-lock">Получать информационные письма по эл. почте:<span class="email-info">Да</span></span></div>
                                  <div class="col-xs-12 col-sm-7 col-md-8"><span class="form-control-lock">Получать уведомления о смене статуса заявки:<span class="email-info">Да</span></span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="form-fieldset">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12"><a href="#" class="btn btn--default-transparent btn--xmd btn--rounded">Удаление учетной записи</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="app-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="copyright footer-text">© produkty.biz, 2008–2016<br />Республика Беларусь</div><a href="#" class="footer-link">Контактная информация</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <ul class="footer-navbar">
                  <li class="footer-navbar__item"><a href="#">Разместить рекламу </a></li>
                  <li class="footer-navbar__item"><a href="#">Наши рекламодатели </a></li>
                  <li class="footer-navbar__item"><a href="#">Тендер </a></li>
                  <li class="footer-navbar__item"><a href="#">О&nbsp;нас </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="#" class="btn btn--red-transparent btn--sm btn--rounded">вход для рекламодателей</a>
                <div class="analitics footer-text">2 995 посещений вчера <br />по&nbsp;независимым данным Google Analytics</div><a href="mailto:reklama@produkty.biz" class="footer-link">reklama@produkty.biz</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6"><a href="/" class="footer-brand"><img src="f/i/brand.jpg"></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--include modal-->
  <script src="f/js/jquery.min.js"></script>
  <script src="f/js/vendor.js"></script>
  <script src="f/js/jquery.fancybox.pack.js"></script>
  <script src="f/js/main.js"></script>
  <!--script(src='f/js/validate.js')-->
  <!--block scripts-->
  <!--include analitics-->
</body>
